n8n/workflows/00-orchestrator.json
{
  "name": "TP - Orchestrator",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "tp-generate",
      "parameters": {
        "httpMethod": "POST",
        "path": "tp-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "init-job",
      "name": "Init Job",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "const jobId = 'tp-' + Date.now();\nlet contractor = {};\ntry {\n  contractor = JSON.parse($json.body?.contractor || '{}');\n} catch (e) {\n  contractor = { name: 'Неизвестен' };\n}\n\nconst item = $input.first();\nreturn [{\n  json: {\n    jobId,\n    contractorInfo: contractor,\n    additionalNotes: $json.body?.additionalNotes || ''\n  },\n  binary: item.binary\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [520, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({success: true, jobId: $json.jobId}) }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "start-pipeline",
      "name": "Start Pipeline",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "const STATUS_URL = 'https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status';\nconst { jobId } = $json;\n\ntry {\n  await fetch(STATUS_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      jobId,\n      status: 'processing',\n      phase: 'text_extraction',\n      progress: 5,\n      message: 'Извличане на текст от документите...'\n    })\n  });\n} catch (e) {}\n\nconst item = $input.first();\nreturn [{ json: item.json, binary: item.binary }];"
      },
      "typeVersion": 2
    },
    {
      "id": "split-files",
      "name": "Split Binary Files",
      "type": "n8n-nodes-base.code",
      "position": [1040, 300],
      "parameters": {
        "jsCode": "const inputItem = $input.first();\nconst binaryData = inputItem.binary || {};\nconst meta = inputItem.json;\nconst results = [];\n\nfor (const [fieldName, fileData] of Object.entries(binaryData)) {\n  results.push({\n    json: { sourceField: fieldName, fileName: fileData.fileName, jobId: meta.jobId, contractorInfo: meta.contractorInfo, additionalNotes: meta.additionalNotes },\n    binary: { data: fileData }\n  });\n}\n\nif (results.length === 0) {\n  throw new Error('Не са намерени файлове за обработка');\n}\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "extract-pdf",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [1300, 300],
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "extract-text",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "position": [1560, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst texts = [];\n\nfor (const item of items) {\n  const text = item.json.text || item.json.data || '';\n  if (text) texts.push(text);\n}\n\nconst fullText = texts.join('\\n\\n--- КРАЙ НА ДОКУМЕНТ ---\\n\\n');\nconst jobId = $('Init Job').first().json.jobId;\nconst contractorInfo = $('Init Job').first().json.contractorInfo;\nconst additionalNotes = $('Init Job').first().json.additionalNotes;\n\nreturn [{\n  json: {\n    fullText,\n    documentCount: items.length,\n    totalCharacters: fullText.length,\n    jobId,\n    contractorInfo,\n    additionalNotes\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "after-extract",
      "name": "After Extract",
      "type": "n8n-nodes-base.code",
      "position": [1820, 300],
      "parameters": {
        "jsCode": "const STATUS_URL = 'https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status';\nconst jobId = $('Init Job').first().json.jobId;\n\ntry {\n  await fetch(STATUS_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      jobId,\n      status: 'processing',\n      phase: 'requirement_extraction',\n      progress: 20,\n      message: 'Извличане на изискванията от документацията...'\n    })\n  });\n} catch (e) {}\n\nreturn [{ json: {\n  fullText: $('Extract Text').first().json.fullText\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "http-requirements",
      "name": "Extract Requirements",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2080, 300],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/tp-step-02-requirements",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "after-requirements",
      "name": "After Requirements",
      "type": "n8n-nodes-base.code",
      "position": [2340, 300],
      "parameters": {
        "jsCode": "const STATUS_URL = 'https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status';\nconst jobId = $('Init Job').first().json.jobId;\n\ntry {\n  await fetch(STATUS_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      jobId,\n      status: 'processing',\n      phase: 'spec_analysis',\n      progress: 35,\n      message: 'Анализ на техническата спецификация...'\n    })\n  });\n} catch (e) {}\n\nreturn [{ json: {\n  fullText: $('Extract Text').first().json.fullText\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "http-analyze",
      "name": "Analyze Spec",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2600, 300],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/tp-step-03-analyze",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "after-analysis",
      "name": "After Spec Analysis",
      "type": "n8n-nodes-base.code",
      "position": [2860, 300],
      "parameters": {
        "jsCode": "const STATUS_URL = 'https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status';\nconst jobId = $('Init Job').first().json.jobId;\n\ntry {\n  await fetch(STATUS_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      jobId,\n      status: 'processing',\n      phase: 'document_planning',\n      progress: 50,\n      message: 'Планиране структурата на документа...'\n    })\n  });\n} catch (e) {}\n\nreturn [{ json: {\n  requirements: $('Extract Requirements').first().json.requirements,\n  specData: $('Analyze Spec').first().json.specData,\n  contractorInfo: $('Init Job').first().json.contractorInfo\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "http-plan",
      "name": "Plan Document",
      "type": "n8n-nodes-base.httpRequest",
      "position": [3120, 300],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/tp-step-04-plan",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "after-plan",
      "name": "After Plan",
      "type": "n8n-nodes-base.code",
      "position": [3380, 300],
      "parameters": {
        "jsCode": "const STATUS_URL = 'https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status';\nconst jobId = $('Init Job').first().json.jobId;\n\ntry {\n  await fetch(STATUS_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      jobId,\n      status: 'processing',\n      phase: 'document_writing',\n      progress: 60,\n      message: 'Писане на техническото предложение...'\n    })\n  });\n} catch (e) {}\n\nreturn [{ json: {\n  requirements: $('Extract Requirements').first().json.requirements,\n  specData: $('Analyze Spec').first().json.specData,\n  contractorInfo: $('Init Job').first().json.contractorInfo,\n  documentPlan: $('Plan Document').first().json.documentPlan\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "http-write",
      "name": "Write Document",
      "type": "n8n-nodes-base.httpRequest",
      "position": [3640, 300],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/tp-step-05-write",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 900000
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "after-write",
      "name": "After Write",
      "type": "n8n-nodes-base.code",
      "position": [3900, 300],
      "parameters": {
        "jsCode": "const STATUS_URL = 'https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status';\nconst jobId = $('Init Job').first().json.jobId;\n\ntry {\n  await fetch(STATUS_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      jobId,\n      status: 'processing',\n      phase: 'validation',\n      progress: 80,\n      message: 'Валидация на документа...'\n    })\n  });\n} catch (e) {}\n\nreturn [{ json: {\n  requirements: $('Extract Requirements').first().json.requirements,\n  specData: $('Analyze Spec').first().json.specData,\n  draftText: $('Write Document').first().json.draftText\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "http-validate",
      "name": "Validate Document",
      "type": "n8n-nodes-base.httpRequest",
      "position": [4160, 300],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/tp-step-06-validate",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 600000
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "after-validate",
      "name": "After Validate",
      "type": "n8n-nodes-base.code",
      "position": [4420, 300],
      "parameters": {
        "jsCode": "const STATUS_URL = 'https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status';\nconst jobId = $('Init Job').first().json.jobId;\nconst validation = $('Validate Document').first().json;\n\ntry {\n  await fetch(STATUS_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      jobId,\n      status: 'processing',\n      phase: 'finalization',\n      progress: 90,\n      message: validation.validationPassed\n        ? 'Документът премина валидацията. Финална редакция...'\n        : 'Финална редакция с корекции от валидацията...'\n    })\n  });\n} catch (e) {}\n\nreturn [{ json: {\n  draftText: $('Write Document').first().json.draftText,\n  validationFeedback: validation.rewriteInstructions || ''\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "http-finalize",
      "name": "Finalize Document",
      "type": "n8n-nodes-base.httpRequest",
      "position": [4680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/tp-step-07-finalize",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 900000
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "pipeline-complete",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.code",
      "position": [4940, 300],
      "parameters": {
        "jsCode": "const STATUS_URL = 'https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status';\nconst jobId = $('Init Job').first().json.jobId;\nconst result = $('Finalize Document').first().json;\n\ntry {\n  await fetch(STATUS_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      jobId,\n      status: 'completed',\n      phase: 'done',\n      progress: 100,\n      message: 'Техническото предложение е готово!',\n      result: {\n        finalText: result.finalText,\n        stats: result.stats\n      }\n    })\n  });\n} catch (e) {}\n\nreturn [{ json: { done: true, jobId } }];"
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Init Job", "type": "main", "index": 0 }]] },
    "Init Job": { "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]] },
    "Send Response": { "main": [[{ "node": "Start Pipeline", "type": "main", "index": 0 }]] },
    "Start Pipeline": { "main": [[{ "node": "Split Binary Files", "type": "main", "index": 0 }]] },
    "Split Binary Files": { "main": [[{ "node": "Extract from PDF", "type": "main", "index": 0 }]] },
    "Extract from PDF": { "main": [[{ "node": "Extract Text", "type": "main", "index": 0 }]] },
    "Extract Text": { "main": [[{ "node": "After Extract", "type": "main", "index": 0 }]] },
    "After Extract": { "main": [[{ "node": "Extract Requirements", "type": "main", "index": 0 }]] },
    "Extract Requirements": { "main": [[{ "node": "After Requirements", "type": "main", "index": 0 }]] },
    "After Requirements": { "main": [[{ "node": "Analyze Spec", "type": "main", "index": 0 }]] },
    "Analyze Spec": { "main": [[{ "node": "After Spec Analysis", "type": "main", "index": 0 }]] },
    "After Spec Analysis": { "main": [[{ "node": "Plan Document", "type": "main", "index": 0 }]] },
    "Plan Document": { "main": [[{ "node": "After Plan", "type": "main", "index": 0 }]] },
    "After Plan": { "main": [[{ "node": "Write Document", "type": "main", "index": 0 }]] },
    "Write Document": { "main": [[{ "node": "After Write", "type": "main", "index": 0 }]] },
    "After Write": { "main": [[{ "node": "Validate Document", "type": "main", "index": 0 }]] },
    "Validate Document": { "main": [[{ "node": "After Validate", "type": "main", "index": 0 }]] },
    "After Validate": { "main": [[{ "node": "Finalize Document", "type": "main", "index": 0 }]] },
    "Finalize Document": { "main": [[{ "node": "Pipeline Complete", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
