n8n/workflows/02-extract-requirements.json
{
  "name": "TP - Step 2: Extract Requirements",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        300
      ],
      "webhookId": "tp-step-02-requirements",
      "parameters": {
        "httpMethod": "POST",
        "path": "tp-step-02-requirements",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "position": [
        260,
        300
      ],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar docText = body.documentationText || body.fullText || body.specificationText || '';\nif (!docText && body.text) docText = body.text;\nif (docText.length > 80000) docText = docText.substring(0, 80000);\nreturn [{ json: { documentText: docText } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Extract Requirements",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        520,
        300
      ],
      "parameters": {
        "text": "=Ти си експерт по българско законодателство за обществени поръчки (ЗОП, ППЗОП).\n\n## ЗАДАЧА\nИзвлечи АБСОЛЮТНО ВСИЧКИ изисквания за техническото предложение от документацията.\n\n## КЪДЕ ДА ТЪРСИШ\n- Раздел \"Показатели за оценка на техническите предложения\"\n- Раздел \"Методика за оценка\" / \"Критерии за възлагане\"\n- Раздел \"Изисквания към техническото предложение\"\n- Раздел \"Указания за подготовка на офертата\"\n- Приложения/Образци свързани с техническото предложение\n\n## КАКВО ДА ИЗВЛЕЧЕШ\n1. Основни критерии за оценка — номерираните изисквания/показатели\n2. Подточки — ако изискването казва \"опишете X, включително а), б), в)\" — всяка подточка ОТДЕЛНО\n3. Методика на оценяване — как се оценява, какво дава максимум точки, какво води до 0 точки\n4. Формат и ограничения — лимит на страници, задължителни приложения\n5. Кръстосани препратки — \"виж Техническата спецификация за X\"\n\n## КРИТИЧНИ ПРАВИЛА ПРОТИВ ХАЛЮЦИНАЦИИ\n- Извличай САМО текст, който РЕАЛНО присъства в документа\n- ДОСЛОВНО копиране — не перифразирай, не интерпретирай\n- Ако нещо НЕ е споменато в документа → НЕ го добавяй, постави null\n- НЕ измисляй точки, критерии или подточки, които ги няма\n- Ако не можеш да намериш методика за оценка → scoring: null\n- Ако документът е за услуги → НЕ добавяй строителни изисквания\n- Ако документът е за доставки → НЕ добавяй проектантски изисквания\n- Пропускането на подточка = ДИСКВАЛИФИКАЦИЯ\n- Добавянето на несъществуващо изискване = СЪЩО ДИСКВАЛИФИКАЦИЯ\n\n## ФОРМАТ НА ОТГОВОР\nВърни САМО валиден JSON (без markdown блокове, без обяснения):\n{\n  \"proposal_type\": \"Техническо предложение | Работна програма | Концепция\",\n  \"procurement_subject\": \"Пълно наименование от документа или null\",\n  \"contracting_authority\": \"Възложител от документа или null\",\n  \"procurement_type\": \"строителство | услуги | доставки | проектиране | смесена\",\n  \"requirements\": [\n    {\n      \"id\": \"оригинален номер от документа\",\n      \"title\": \"Дословен текст на заглавието\",\n      \"full_text\": \"Дословен текст — копиран точно от документа\",\n      \"sub_requirements\": [{\"id\": \"1.1\", \"text\": \"Дословен текст\"}],\n      \"scoring\": {\"max_points\": null, \"criteria\": \"Дословен текст от методиката или null\"}\n    }\n  ],\n  \"format_requirements\": {\"page_limit\": null, \"attachments\": [], \"instructions\": []},\n  \"references_to_spec\": [],\n  \"extraction_confidence\": \"HIGH | MEDIUM | LOW\",\n  \"notes\": \"Бележки за неясноти или проблеми при извличането\"\n}\n\nДОКУМЕНТАЦИЯ:\n{{ $json.documentText }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "# РОЛЯ И ЦЕЛ\nТи си експерт по български ЗОП (Закон за обществените поръчки) и ППЗОП. Задачата ти е да извлечеш ВСИЧКИ изисквания към техническото предложение от предоставената документация.\n\n# ИНСТРУКЦИИ\n1. Извличай САМО изисквания, които РЕАЛНО СЪЩЕСТВУВАТ в текста — НИКОГА не измисляй.\n2. Копирай текста на изискванията ДОСЛОВНО от документа.\n3. Ако поле не може да се определи от документа → null.\n4. Ако документът е за доставки — НЕ добавяй строителни изисквания. Ако е за услуги — НЕ добавяй производствени.\n5. ЗАПАЗИ оригиналната номерация от документацията.\n6. Под-изисквания (мерки, подточки) извличай ПООТДЕЛНО.\n7. Изисквания за формат на мерки (наименование, същност, дейности и т.н.) включи в format_requirements.\n\n# СТЪПКИ\n1. Намери раздела за техническо предложение / предложение за изпълнение.\n2. Идентифицирай основните номерирани изисквания (1.1, 1.2, 1.3...).\n3. За всяко: копирай заглавие + пълен текст + подточки.\n4. Намери общи изисквания (формат на мерки, забрани за формалност, основания за отстраняване).\n5. Намери информация за оценяване (scoring) — ако липсва, scoring = null.\n\n# ФОРМАТ\nИзход: САМО валиден JSON. Без markdown блокове, без обяснения. Език: български."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        440,
        520
      ],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 24000,
          "temperature": 0.1
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Requirements",
      "type": "n8n-nodes-base.code",
      "position": [
        780,
        300
      ],
      "parameters": {
        "jsCode": "var raw = ($json.text || $json.response || '').trim();\nvar result = null;\nvar parseMethod = 'none';\n\nfunction sanitize(s) {\n  return s.replace(/[\\u201C\\u201D\\u201E\\u201F\\u00AB\\u00BB\\u2018\\u2019\\u2032\\u2033]/g, \"'\")\n          .replace(/^\\uFEFF/, '');\n}\n\nfunction tryParse(s) {\n  try { return JSON.parse(s); } catch(e) { return null; }\n}\n\nfunction extractJson(s) {\n  var m = s.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  var c = m ? m[1].trim() : s;\n  var start = c.indexOf('{');\n  var end = c.lastIndexOf('}');\n  if (start === -1 || end === -1) return s;\n  return c.substring(start, end + 1);\n}\n\nfunction fixCommon(s) {\n  return s.replace(/,\\s*([\\]\\}])/g, '$1');\n}\n\nfunction nextNonWS(s, pos) {\n  for (var j = pos; j < s.length; j++) {\n    var c = s.charCodeAt(j);\n    if (c !== 32 && c !== 9 && c !== 10 && c !== 13) return s[j];\n  }\n  return '';\n}\n\nfunction fixQuotes(s) {\n  var out = '';\n  var inStr = false;\n  var escaped = false;\n  var len = s.length;\n  for (var i = 0; i < len; i++) {\n    var ch = s[i];\n    if (escaped) { out += ch; escaped = false; continue; }\n    if (ch === '\\\\') { out += ch; escaped = true; continue; }\n    if (ch === '\"') {\n      if (!inStr) {\n        inStr = true;\n        out += ch;\n      } else {\n        var next = nextNonWS(s, i + 1);\n        if (next === ':' || next === ',' || next === '}' || next === ']' || next === '') {\n          inStr = false;\n          out += ch;\n        } else {\n          out += '\\\\\"';\n        }\n      }\n    } else {\n      out += ch;\n    }\n  }\n  return out;\n}\n\nfunction fixNewlines(s) {\n  var out = '';\n  var inStr = false;\n  var escaped = false;\n  var len = s.length;\n  for (var i = 0; i < len; i++) {\n    var ch = s[i];\n    if (escaped) { out += ch; escaped = false; continue; }\n    if (ch === '\\\\') { out += ch; escaped = true; continue; }\n    if (ch === '\"') { inStr = !inStr; out += ch; continue; }\n    if (inStr && ch === '\\n') { out += '\\\\n'; continue; }\n    if (inStr && ch === '\\r') { continue; }\n    if (inStr && ch === '\\t') { out += '\\\\t'; continue; }\n    out += ch;\n  }\n  return out;\n}\n\nfunction repairTruncated(s) {\n  var stack = [];\n  var inStr = false;\n  var escaped = false;\n  for (var i = 0; i < s.length; i++) {\n    var ch = s[i];\n    if (escaped) { escaped = false; continue; }\n    if (ch === '\\\\') { escaped = true; continue; }\n    if (ch === '\"') { inStr = !inStr; continue; }\n    if (inStr) continue;\n    if (ch === '{') stack.push('}');\n    else if (ch === '[') stack.push(']');\n    else if (ch === '}' || ch === ']') { if (stack.length > 0) stack.pop(); }\n  }\n  if (inStr) s += '\"';\n  s = s.replace(/,\\s*$/, '');\n  while (stack.length > 0) s += stack.pop();\n  return s;\n}\n\nraw = sanitize(raw);\n\nresult = tryParse(raw);\nif (result) parseMethod = 'direct';\n\nif (!result) {\n  var clean = fixCommon(extractJson(raw));\n  result = tryParse(clean);\n  if (result) parseMethod = 'extractJson';\n}\n\nif (!result) {\n  var clean = fixQuotes(fixCommon(extractJson(raw)));\n  result = tryParse(clean);\n  if (result) parseMethod = 'fixQuotes';\n}\n\nif (!result) {\n  var clean = fixNewlines(fixQuotes(fixCommon(extractJson(raw))));\n  result = tryParse(clean);\n  if (result) parseMethod = 'fixQuotes+fixNewlines';\n}\n\nif (!result) {\n  var clean = fixQuotes(fixNewlines(fixCommon(extractJson(raw))));\n  result = tryParse(clean);\n  if (result) parseMethod = 'fixNewlines+fixQuotes';\n}\n\nif (!result) {\n  var clean = fixNewlines(fixQuotes(fixCommon(extractJson(raw))));\n  var repaired = repairTruncated(clean);\n  result = tryParse(repaired);\n  if (result) parseMethod = 'repairTruncated';\n}\n\nif (!result) {\n  var clean = fixNewlines(fixQuotes(fixCommon(raw)));\n  result = tryParse(clean);\n  if (!result) {\n    var repaired = repairTruncated(clean);\n    result = tryParse(repaired);\n  }\n  if (result) parseMethod = 'rawRepair';\n}\n\nif (!result) {\n  result = { requirements: [], _raw: raw.substring(0, 20000), _parse_error: true };\n  parseMethod = 'FAILED';\n}\n\nresult._parseMethod = parseMethod;\nreturn [{ json: result }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1040,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Extract Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Requirements",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Requirements": {
      "main": [
        [
          {
            "node": "Parse Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Requirements": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}