n8n/workflows/03-analyze-spec.json
{
  "name": "TP - Step 3: Analyze Specification",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "tp-step-03-analyze",
      "parameters": {
        "httpMethod": "POST",
        "path": "tp-step-03-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Analyze Spec",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [300, 300],
      "parameters": {
        "text": "=Ти си експерт-технически анализатор за обществени поръчки в България.\n\n## ЗАДАЧА\nИзвлечи ВСИЧКИ конкретни технически данни от документацията/спецификацията.\n\n## КЪДЕ ДА ТЪРСИШ\n- Техническа спецификация / Задание\n- Количествена сметка\n- Технически изисквания към изпълнението\n- Описание на обекта/предмета\n- Изисквания за персонал и оборудване\n- Нормативни изисквания\n\n## КАКВО ДА ИЗВЛЕЧЕШ\n1. Описание на обекта — какво е предметът (НЕ предполагай — прочети от текста)\n2. Обхват на работите/дейностите — конкретни дейности, фази, резултати\n3. Технически параметри — САМО споменатите в текста (материали, стандарти, размери)\n4. Персонал — САМО ако е описан в документа\n5. Оборудване — САМО ако е описано в документа\n6. Нормативна рамка — САМО цитираните закони/наредби/стандарти\n7. Срокове, гаранции, ЗБУТ, екология — САМО ако са описани\n\n## КРИТИЧНИ ПРАВИЛА ПРОТИВ ХАЛЮЦИНАЦИИ\n- САМО факти от ТОЗИ документ — НИЩО измислено\n- Ако поле ЛИПСВА в документа → стойност null или празен масив []\n- НЕ добавяй технически параметри, които не са написани в текста\n- НЕ предполагай тип обект — прочети го от документа\n- Ако документът е за услуги → НЕ добавяй строителни материали\n- Ако документът е за IT → НЕ добавяй бетон, арматура, изолация\n- Конкретност: цитирай точните стойности от текста\n- Ако нещо е неясно → запиши го точно както е, не интерпретирай\n\n## ФОРМАТ\nВърни САМО валиден JSON (без markdown блокове):\n{\n  \"object\": {\n    \"type\": \"строителство | проектиране | доставка | услуга | смесена | null\",\n    \"name\": \"Наименование от документа или null\",\n    \"description\": \"Описание от документа или null\",\n    \"location\": \"Местоположение от документа или null\"\n  },\n  \"scope_of_work\": [{\"phase\": \"\", \"activities\": [], \"deliverables\": []}],\n  \"technical_parameters\": [{\"category\": \"\", \"parameter\": \"\", \"value\": \"\", \"standard\": \"\"}],\n  \"personnel_requirements\": [{\"role\": \"\", \"qualifications\": \"\"}],\n  \"equipment_requirements\": [{\"type\": \"\", \"specs\": \"\"}],\n  \"regulatory_framework\": [],\n  \"timeline\": {\"total_duration\": null, \"phases\": []},\n  \"warranty_periods\": [{\"type\": \"\", \"period\": \"\"}],\n  \"safety_requirements\": [],\n  \"environmental_requirements\": [],\n  \"key_quantities\": [{\"item\": \"\", \"quantity\": \"\", \"unit\": \"\"}],\n  \"extraction_confidence\": \"HIGH | MEDIUM | LOW\",\n  \"notes\": \"Бележки — какво липсва, какво е неясно\"\n}\n\nВАЖНО: Празните масиви [] и null стойности са ПРАВИЛНИЯТ отговор когато данните ЛИПСВАТ. НЕ ги попълвай с измислени стойности!\n\nДОКУМЕНТАЦИЯ/СПЕЦИФИКАЦИЯ:\n{{ ($json.specificationText || $json.fullText).substring(0, 80000) }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are an expert technical analyst for Bulgarian public procurement. CRITICAL RULES:\n1. Extract ONLY facts that ACTUALLY EXIST in the provided text\n2. NEVER invent technical parameters, materials, quantities, or standards\n3. If information is NOT in the document, use null or empty array []\n4. Do NOT assume the project type — read it from the document\n5. Empty arrays and null values are the CORRECT answer when data is missing\n6. Output ONLY valid JSON, no markdown, no explanations\nLanguage: Bulgarian."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [220, 520],
      "parameters": {
        "model": "anthropic/claude-sonnet-4-20250514",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1",
          "maxTokens": 16000,
          "temperature": 0.1
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Spec Data",
      "type": "n8n-nodes-base.code",
      "position": [600, 300],
      "parameters": {
        "jsCode": "const raw = ($json.text || $json.response || '').trim();\nlet result;\n\ntry {\n  result = JSON.parse(raw);\n} catch (e) {\n  const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  const candidate = m ? m[1].trim() : raw;\n  try {\n    const s = candidate.indexOf('{');\n    const e2 = candidate.lastIndexOf('}');\n    let jsonStr = candidate.substring(s, e2 + 1);\n    jsonStr = jsonStr.replace(/,\\s*([\\]\\}])/g, '$1');\n    result = JSON.parse(jsonStr);\n  } catch (e3) {\n    result = { object: { name: 'Parse error' }, _raw: raw.substring(0, 2000) };\n  }\n}\n\nreturn [{ json: { specData: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [900, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Analyze Spec", "type": "main", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Analyze Spec", "type": "ai_languageModel", "index": 0 }]] },
    "Analyze Spec": { "main": [[{ "node": "Parse Spec Data", "type": "main", "index": 0 }]] },
    "Parse Spec Data": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
