n8n/workflows/04-plan-document.json
{
  "name": "TP - Step 4: Plan Document",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        300
      ],
      "webhookId": "tp-step-04-plan",
      "parameters": {
        "httpMethod": "POST",
        "path": "tp-step-04-plan",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Plan Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        260,
        300
      ],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar reqs = body.requirements || {};\nvar reqType = reqs.procurement_type || 'неопределен';\nvar extractionFailed = body.requirementsExtractionFailed === true;\nvar hasReqs = reqs.requirements && Array.isArray(reqs.requirements) && reqs.requirements.length > 0;\nif (!hasReqs && Array.isArray(reqs) && reqs.length > 0) hasReqs = true;\nvar reqStr = JSON.stringify(reqs, null, 2);\nif (reqStr.length > 40000) reqStr = reqStr.substring(0, 40000);\nvar specStr = JSON.stringify(body.specData || {}, null, 2);\nif (specStr.length > 40000) specStr = specStr.substring(0, 40000);\nvar ciStr = JSON.stringify(body.contractorInfo || {}, null, 2);\nvar docText = (body.documentationText || '').substring(0, 40000);\n\nvar p = '';\n\np += '# ЗАДАЧА\\n';\np += 'Създай ДЕТАЙЛЕН ПЛАН за техническо предложение, като РАЗЛОЖИШ изискванията ИЗРЕЧЕНИЕ ПО ИЗРЕЧЕНИЕ.\\n\\n';\np += 'ТИП ПОРЪЧКА: ' + reqType + '\\n\\n';\n\nif (extractionFailed || !hasReqs) {\n  p += '## ВАЖНО: АВТОМАТИЧНОТО ИЗВЛИЧАНЕ НА ИЗИСКВАНИЯ НЕ УСПЯ\\n';\n  p += 'Предоставяме ти СУРОВИЯ ТЕКСТ на документацията. ЗАДЪЛЖИТЕЛНО:\\n';\n  p += '1. ПРОЧЕТИ внимателно целия текст.\\n';\n  p += '2. НАМЕРИ разделите за техническо предложение/показатели за оценка/методика за оценка.\\n';\n  p += '3. ИЗВЛЕЧИ всяко номерирано изискване с ДОСЛОВНИЯ му текст.\\n';\n  p += '4. Използвай ИЗВЛЕЧЕНИТЕ изисквания за основа на плана.\\n\\n';\n  if (docText.length > 0) {\n    p += '## СУРОВ ТЕКСТ НА ДОКУМЕНТАЦИЯТА\\n' + docText + '\\n\\n';\n  }\n  if (reqStr !== '{}' && reqStr !== '[]') {\n    p += '## ЧАСТИЧНО ИЗВЛЕЧЕНИ ИЗИСКВАНИЯ (може да са непълни)\\n' + reqStr + '\\n\\n';\n  }\n} else {\n  p += '## ИЗВЛЕЧЕНИ ИЗИСКВАНИЯ\\n' + reqStr + '\\n\\n';\n}\n\np += '## АНАЛИЗ НА СПЕЦИФИКАЦИЯТА\\n' + specStr + '\\n\\n';\np += '## ИНФОРМАЦИЯ ЗА ИЗПЪЛНИТЕЛЯ\\n' + ciStr + '\\n\\n';\n\np += '## СТЪПКА 1: РАЗЛАГАНЕ НА ИЗИСКВАНИЯ (задължителна)\\n';\np += 'Преди да правиш план, РАЗЛОЖИ всяко изискване ИЗРЕЧЕНИЕ ПО ИЗРЕЧЕНИЕ:\\n';\np += '1. Прочети full_text на ВСЯКО изискване.\\n';\np += '2. Всяко отделно изречение/фраза описва ОТДЕЛЕН структурен елемент — идентифицирай го.\\n';\np += '3. Пример: \"Предложение за изпълнение на отделните етапи. Следва да бъдат обхванати всички работни и технологични процеси\" → ТРИ елемента:\\n';\np += '   а) \"етапи на изпълнение\" → секция с подсекция за ВСЕКИ отделен етап от спецификацията\\n';\np += '   б) \"работни процеси\" → секция с подсекция за ВСЕКИ работен процес\\n';\np += '   в) \"технологични процеси\" → секция с подсекция за ВСЕКИ технологичен процес\\n';\np += '4. Когато изискване казва \"минимум N мерки/елемента\" → създай ТОЧНО N (или повече) подсекции.\\n';\np += '5. sub_requirements ЗАДЪЛЖИТЕЛНО стават подсекции.\\n';\np += '6. Фрази като \"включително\", \"в това число\", \"като обхваща\" → ВСЯКО изброено нещо = отделен елемент.\\n\\n';\n\np += '## СТЪПКА 2: ИЗВЛИЧАНЕ НА ПРАВИЛА ЗА ПИСАНЕ\\n';\np += 'Изискванията съдържат ДВА типа информация:\\n';\np += 'А) СЪДЪРЖАТЕЛНИ — какво трябва да присъства → стават секции и подсекции на плана\\n';\np += 'Б) КАЧЕСТВЕНИ — как трябва да е написано → стават writing_rules\\n';\np += 'Примери за качествени:\\n';\np += '- \"изложението да не е формално\" → writing_rule\\n';\np += '- \"да отчита спецификата на конкретния предмет\" → writing_rule\\n';\np += '- \"по своята същност да може да се съотнесе към съответния елемент\" → writing_rule\\n';\np += '- Ако дефинират какво е \"формално\" → включи дефиницията ДОСЛОВНО в source_text на writing_rule\\n\\n';\n\np += '## СТЪПКА 3: СЪЗДАВАНЕ НА ПЛАН\\n\\n';\n\np += '### Структурни правила\\n';\np += '- Секции = requirement IDs (1.1, 1.2, ...) с ТОЧНИТЕ заглавия от изискванията\\n';\np += '- НЕ добавяй секции непоискани от възложителя\\n';\np += '- НЕ преименувай секциите\\n';\np += '- Всяка ГЛАВНА секция → МИНИМУМ 3 подсекции\\n';\np += '- Всяка подсекция → МИНИМУМ 3 конкретни указания в content_guidance\\n';\np += '- Подсекция може да има свои подсекции (до 4 нива дълбочина)\\n';\np += '- Максимум 5 страници на най-долна подсекция\\n';\np += '- Изисквания от общ характер (срок, гаранции) НЕ стават отделни секции — интегрират се в съответните\\n';\np += '- Линеен график ЗАДЪЛЖИТЕЛНО е ОТДЕЛНА подсекция с таблична форма\\n\\n';\n\np += '### Правила за мерки\\n';\np += 'Когато изискване изисква МЯРКА:\\n';\np += '- Всяка мярка = ОТДЕЛНА подсекция\\n';\np += '- content_guidance за мярка ЗАДЪЛЖИТЕЛНО съдържа инструкция за 7 елемента:\\n';\np += '  1. Наименование на мярката\\n';\np += '  2. Същност — какво постига\\n';\np += '  3. Конкретни дейности за изпълнение\\n';\np += '  4. Времеви план за прилагане\\n';\np += '  5. Конкретен експерт + задължения\\n';\np += '  6. Контрол и мониторинг (честота, действия при отклонения, отговорни лица)\\n';\np += '  7. Очакван ефект от мярката\\n';\np += '- ЗАБРАНЕНО е обединяване на елементи от различни мерки!\\n\\n';\n\np += '### Правила за content_guidance\\n';\np += 'content_guidance НЕ ТРЯБВА да е абстрактно! За всяка подсекция:\\n';\np += '- Включи КОНКРЕТНИ данни от спецификацията (количества, артикули, параметри, локации)\\n';\np += '- Дай КОНКРЕТНА инструкция: \"Опиши етапа на демонтаж на 350 м2 стари подови настилки в сграда A, бл. 3\"\\n';\np += '- НЕ пиши: \"Опиши етапа на демонтаж\" без конкретика\\n';\np += '- Посочи кои таблици да се включат с КОНКРЕТНИ колони и данни\\n';\np += '- Всяка подсекция ще бъде писана от ОТДЕЛЕН AI агент — указанията ТРЯБВА да са САМОДОСТАТЪЧНИ\\n';\np += '- Ако в спецификацията има конкретни стойности — ЦИТИРАЙ ги в content_guidance\\n\\n';\n\np += '## ФОРМАТ\\n';\np += 'Върни САМО валиден JSON (БЕЗ markdown блокове):\\n';\np += '{\\n';\np += '  \"document_title\": \"ПРЕДЛОЖЕНИЕ ЗА ИЗПЪЛНЕНИЕ на [точно наименование на поръчката]\",\\n';\np += '  \"procurement_type\": \"' + reqType + '\",\\n';\np += '  \"total_estimated_pages\": 40,\\n';\np += '  \"writing_rules\": [\\n';\np += '    {\\n';\np += '      \"rule_id\": \"WR1\",\\n';\np += '      \"rule\": \"Кратко описание на правилото\",\\n';\np += '      \"source_text\": \"ДОСЛОВЕН цитат от документацията на възложителя\",\\n';\np += '      \"instruction_for_writer\": \"Конкретна инструкция какво да прави writer-ът\",\\n';\np += '      \"instruction_for_validator\": \"Как validator-ът да проверява спазването\",\\n';\np += '      \"violation_consequence\": \"отстраняване | намалени точки | забележка\"\\n';\np += '    }\\n';\np += '  ],\\n';\np += '  \"sections\": [\\n';\np += '    {\\n';\np += '      \"id\": \"1.1\",\\n';\np += '      \"title\": \"ТОЧНО заглавието от изискването\",\\n';\np += '      \"requirement_id\": \"1.1\",\\n';\np += '      \"source_decomposition\": [\\n';\np += '        {\"source_phrase\": \"изречението от което произлиза\", \"structural_type\": \"etap|process|measure|table|timeline\"}\\n';\np += '      ],\\n';\np += '      \"subsections\": [\\n';\np += '        {\\n';\np += '          \"id\": \"1.1.1\",\\n';\np += '          \"title\": \"Подзаглавие\",\\n';\np += '          \"estimated_pages\": 4,\\n';\np += '          \"content_guidance\": [\\n';\np += '            \"КОНКРЕТНА инструкция 1 с данни от спецификацията\",\\n';\np += '            \"КОНКРЕТНА инструкция 2...\",\\n';\np += '            \"КОНКРЕТНА инструкция 3...\"\\n';\np += '          ],\\n';\np += '          \"spec_data_to_use\": [\"key_quantities\", \"technical_parameters\"],\\n';\np += '          \"tables_needed\": [{\"title\": \"Заглавие\", \"columns\": [\"Кол1\", \"Кол2\"]}],\\n';\np += '          \"subsections\": []\\n';\np += '        }\\n';\np += '      ]\\n';\np += '    }\\n';\np += '  ],\\n';\np += '  \"appendices\": []\\n';\np += '}\\n\\n';\n\np += '## КРИТИЧНИ ПРАВИЛА\\n';\np += '1. Секциите = requirement IDs. НЕ измисляй собствена структура!\\n';\np += '2. МИНИМУМ 3 подсекции на секция, МИНИМУМ 3 content_guidance на подсекция.\\n';\np += '3. Всяка мярка = ОТДЕЛНА подсекция с инструкция за 7 елемента.\\n';\np += '4. content_guidance включва КОНКРЕТНИ ДАННИ от спецификацията!\\n';\np += '5. Разложи изискванията ИЗРЕЧЕНИЕ ПО ИЗРЕЧЕНИЕ — всяко изречение = структурен елемент.\\n';\np += '6. writing_rules = качествените изисквания от документацията.\\n';\np += '7. САМО JSON, без друг текст.';\n\nreturn [{ json: { prompt: p } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Plan Document",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        520,
        300
      ],
      "parameters": {
        "text": "={{ $json.prompt }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "# РОЛЯ И ЦЕЛ\nТи си експерт по структуриране на технически предложения за обществени поръчки в Република България. Създаваш ДЕТАЙЛНИ планове, разлагайки изискванията на възложителя ИЗРЕЧЕНИЕ ПО ИЗРЕЧЕНИЕ.\n\n# МЕТОД НА РАБОТА — РАЗЛАГАНЕ НА ИЗИСКВАНИЯ\nПреди да създадеш план, ЗАДЪЛЖИТЕЛНО разложи ВСЯКО изискване:\n1. Прочети full_text на изискването ИЗРЕЧЕНИЕ ПО ИЗРЕЧЕНИЕ\n2. Всяко изречение/фраза описва ОТДЕЛЕН структурен елемент → става подсекция\n3. \"минимум N мерки\" → ТОЧНО N подсекции за мерки\n4. \"включително A, B, C\" → ТРИ отделни подсекции\n5. Sub-requirements → ЗАДЪЛЖИТЕЛНИ подсекции\n6. Кръстосани препратки (\"съгласно ТС\") → запиши ги за writer-а\n\n# СТРУКТУРНИ ИЗИСКВАНИЯ\n- Секции = requirement IDs с ТОЧНИТЕ заглавия от документацията\n- МИНИМУМ 3 подсекции на главна секция\n- МИНИМУМ 3 елемента content_guidance на подсекция\n- Подсекции могат да имат свои подсекции (до 4 нива дълбочина)\n- Максимум 5 стр. на най-долна подсекция\n- Линеен график = ОТДЕЛНА подсекция с таблична форма\n\n# КАЧЕСТВЕНИ ПРАВИЛА (writing_rules)\nИзискванията съдържат ДВА типа информация:\n- СЪДЪРЖАТЕЛНИ (какво трябва да присъства) → стават секции/подсекции\n- КАЧЕСТВЕНИ (как трябва да е написано) → стават writing_rules\nИзвлечи ВСИЧКИ качествени изисквания в writing_rules. Включи:\n- Дословен цитат от документацията\n- Конкретна инструкция за writer-а\n- Конкретна инструкция за validator-а\n- Последица при нарушение\n\n# ФОРМАТ НА МЕРКИ\nВсяка мярка = ОТДЕЛНА подсекция с 7 елемента в content_guidance:\nнаименование, същност, дейности, времеви план, експерт+задължения, контрол+мониторинг, очакван ефект.\nЗАБРАНЕНО: обединяване на елементи от различни мерки.\n\n# content_guidance — НЕ АБСТРАКТНО!\nВсяко указание ТРЯБВА да е КОНКРЕТНО с данни от спецификацията:\nДОБРО: \"Опиши доставката на 15 бр. климатици за сграда X — модели, монтаж, изпитвания\"\nЛОШО: \"Опиши процеса на доставка\"\nВсяка подсекция ще се пише от ОТДЕЛЕН AI агент → указанията ТРЯБВА да са САМОДОСТАТЪЧНИ.\n\n# СТЪПКИ\n1. За всяко изискване: разложи full_text изречение по изречение → идентифицирай структурните елементи\n2. Раздели на съдържателни (→ секции) и качествени (→ writing_rules)\n3. За всеки структурен елемент → определи подсекции (мин. 3 на секция)\n4. За всяка подсекция → напиши КОНКРЕТНИ content_guidance с данни от спецификацията (мин. 3)\n5. Мерки → отделни подсекции с пълен 7-елементен формат\n6. Провери: покрити ли са ВСИЧКИ изречения от ВСЯКО изискване?\n7. Провери: има ли поне 3 подсекции на секция? Поне 3 content_guidance на подсекция?\n\n# ФОРМАТ\nИзход: САМО валиден JSON. Без markdown блокове, без обяснения. Език: български."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        440,
        520
      ],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 24000,
          "temperature": 0.2
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "position": [
        780,
        300
      ],
      "parameters": {
        "jsCode": "var raw = ($json.text || $json.response || '').trim();\nvar result = null;\n\nfunction sanitize(s) {\n  return s.replace(/[\\u201C\\u201D\\u201E\\u201F\\u00AB\\u00BB\\u2018\\u2019\\u2032\\u2033]/g, \"'\");\n}\n\nfunction tryParse(s) {\n  try { return JSON.parse(s); } catch(e) { return null; }\n}\n\nfunction extractJson(s) {\n  var m = s.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  var c = m ? m[1].trim() : s;\n  var start = c.indexOf('{');\n  var end = c.lastIndexOf('}');\n  if (start === -1 || end === -1) return s;\n  return c.substring(start, end + 1);\n}\n\nfunction fixCommon(s) {\n  return s.replace(/,\\s*([\\]\\}])/g, '$1');\n}\n\nfunction fixNewlines(s) {\n  var out = '';\n  var inStr = false;\n  var escaped = false;\n  for (var i = 0; i < s.length; i++) {\n    var ch = s[i];\n    if (escaped) { out += ch; escaped = false; continue; }\n    if (ch === '\\\\') { out += ch; escaped = true; continue; }\n    if (ch === '\"') { inStr = !inStr; out += ch; continue; }\n    if (inStr && ch === '\\n') { out += '\\\\n'; continue; }\n    if (inStr && ch === '\\r') { continue; }\n    if (inStr && ch === '\\t') { out += '\\\\t'; continue; }\n    out += ch;\n  }\n  return out;\n}\n\nfunction fixQuotes(s) {\n  var out = '';\n  var inStr = false;\n  var escaped = false;\n  for (var i = 0; i < s.length; i++) {\n    var ch = s[i];\n    if (escaped) { out += ch; escaped = false; continue; }\n    if (ch === '\\\\') { out += ch; escaped = true; continue; }\n    if (ch === '\"') {\n      if (!inStr) {\n        inStr = true;\n        out += ch;\n      } else {\n        var rest = s.substring(i + 1).trimStart();\n        var next = rest.length > 0 ? rest[0] : '';\n        if (next === ':' || next === ',' || next === '}' || next === ']' || rest.length === 0) {\n          inStr = false;\n          out += ch;\n        } else {\n          out += '\\\\\"';\n        }\n      }\n    } else {\n      out += ch;\n    }\n  }\n  return out;\n}\n\nfunction repairTruncated(s) {\n  var stack = [];\n  var inStr = false;\n  var escaped = false;\n  for (var i = 0; i < s.length; i++) {\n    var ch = s[i];\n    if (escaped) { escaped = false; continue; }\n    if (ch === '\\\\') { escaped = true; continue; }\n    if (ch === '\"') { inStr = !inStr; continue; }\n    if (inStr) continue;\n    if (ch === '{') stack.push('}');\n    else if (ch === '[') stack.push(']');\n    else if (ch === '}' || ch === ']') { if (stack.length > 0) stack.pop(); }\n  }\n  if (inStr) s += '\"';\n  s = s.replace(/,\\s*$/, '');\n  while (stack.length > 0) s += stack.pop();\n  return s;\n}\n\nraw = sanitize(raw);\n\nresult = tryParse(raw);\n\nif (!result) {\n  result = tryParse(fixCommon(extractJson(raw)));\n}\n\nif (!result) {\n  result = tryParse(fixNewlines(fixCommon(extractJson(raw))));\n}\n\nif (!result) {\n  result = tryParse(fixQuotes(fixNewlines(fixCommon(extractJson(raw)))));\n}\n\nif (!result) {\n  var repaired = repairTruncated(fixNewlines(fixCommon(extractJson(raw))));\n  result = tryParse(repaired);\n  if (!result) result = tryParse(fixQuotes(repaired));\n}\n\nif (!result) {\n  result = { document_title: 'Parse error', sections: [], _raw: raw.substring(0, 8000), _parse_error: true };\n}\n\nreturn [{ json: { documentPlan: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1040,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Plan Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Plan Prompt": {
      "main": [
        [
          {
            "node": "Plan Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Plan Document",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Plan Document": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}