n8n/workflows/05-write-section.json
{
  "name": "TP - Write Section",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        300
      ],
      "webhookId": "tp-write-section",
      "parameters": {
        "httpMethod": "POST",
        "path": "tp-write-section",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Section Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        260,
        300
      ],
      "parameters": {
        "jsCode": "var b = $json.body || $json;\nvar s = b.section;\nvar reqs = b.requirements;\nvar spec = b.specData;\nvar ci = b.contractorInfo;\nvar prev = b.previousContext || '';\nvar fb = b.feedback || '';\nvar pt = b.procurementType || 'неопределен';\nvar idx = b.sectionIndex;\nvar total = b.totalSections;\nvar pages = s.estimated_pages || 8;\nvar writingRules = b.writingRules || [];\nvar headingLevel = (s.parentId || s.parentTitle) ? '###' : '##';\n\nvar guide = '';\nif (s.content_guidance && s.content_guidance.length > 0) {\n  guide = '\\nУказания от плана:\\n';\n  for (var g = 0; g < s.content_guidance.length; g++) {\n    guide += '- ' + s.content_guidance[g] + '\\n';\n  }\n}\nif (s.tables_needed && s.tables_needed.length > 0) {\n  guide += '\\nТаблици за включване:\\n';\n  for (var t = 0; t < s.tables_needed.length; t++) {\n    var tbl = s.tables_needed[t];\n    if (tbl.title) guide += '- ' + tbl.title + (tbl.columns ? ' (' + tbl.columns.join(', ') + ')' : '') + '\\n';\n  }\n}\nif (s.spec_data_to_use && s.spec_data_to_use.length > 0) {\n  guide += '\\nДанни от спецификацията за ползване: ' + s.spec_data_to_use.join(', ') + '\\n';\n}\n\nvar prompt = 'Напиши САМО секция \"' + s.id + '. ' + s.title + '\" от техническото предложение.\\n';\nprompt += 'Секция ' + (idx + 1) + ' от ' + total + '. Обем: ~' + pages + ' стр. (~' + (pages * 375) + ' думи).\\n\\n';\nprompt += 'ТИП ПОРЪЧКА: ' + pt + '\\n\\n';\n\nif (s.requirement_id) {\n  var reqArr = reqs.requirements || reqs;\n  if (Array.isArray(reqArr)) {\n    for (var r = 0; r < reqArr.length; r++) {\n      if (reqArr[r].id === s.requirement_id || reqArr[r].id === s.parentId) {\n        prompt += 'ИЗИСКВАНЕ НА ВЪЗЛОЖИТЕЛЯ (ДОСЛОВНО):\\n' + (reqArr[r].full_text || reqArr[r].title || '') + '\\n\\n';\n        if (reqArr[r].sub_requirements && reqArr[r].sub_requirements.length > 0) {\n          prompt += 'ПОД-ИЗИСКВАНИЯ:\\n';\n          for (var sr = 0; sr < reqArr[r].sub_requirements.length; sr++) {\n            prompt += '- ' + reqArr[r].sub_requirements[sr].id + ': ' + reqArr[r].sub_requirements[sr].text + '\\n';\n          }\n          prompt += '\\n';\n        }\n        break;\n      }\n    }\n  }\n}\n\nprompt += 'УКАЗАНИЯ ОТ ПЛАНА:\\n' + (guide || s.title) + '\\n\\n';\n\nvar filteredSpec = {};\nvar specKeys = s.spec_data_to_use || [];\nif (specKeys.length > 0 && spec) {\n  for (var k = 0; k < specKeys.length; k++) {\n    var key = specKeys[k];\n    if (spec[key] !== undefined) filteredSpec[key] = spec[key];\n  }\n  if (Object.keys(filteredSpec).length === 0) filteredSpec = spec;\n} else {\n  filteredSpec = spec;\n}\nvar specJson = JSON.stringify(filteredSpec, null, 2);\nif (specJson.length > 15000) specJson = specJson.substring(0, 15000);\nprompt += 'ТЕХНИЧЕСКИ ДАННИ ОТ СПЕЦИФИКАЦИЯТА:\\n' + specJson + '\\n\\n';\n\nprompt += 'ИНФОРМАЦИЯ ЗА ИЗПЪЛНИТЕЛЯ:\\n' + JSON.stringify(ci, null, 2) + '\\n\\n';\n\nif (prev) {\n  prompt += 'ПРЕДИШЕН КОНТЕКСТ (НЕ повтаряй, осигури кохерентност):\\n...' + prev.substring(prev.length > 2000 ? prev.length - 2000 : 0) + '\\n\\n';\n}\nif (fb) {\n  prompt += '⚠️ ОБРАТНА ВРЪЗКА ОТ ВАЛИДАЦИЯ — ЗАДЪЛЖИТЕЛНО ПОПРАВИ:\\n' + fb + '\\n\\n';\n}\n\nif (writingRules.length > 0) {\n  prompt += '⚠️ ПРАВИЛА ЗА ПИСАНЕ ОТ ДОКУМЕНТАЦИЯТА НА ВЪЗЛОЖИТЕЛЯ:\\n';\n  for (var wr = 0; wr < writingRules.length; wr++) {\n    var rule = writingRules[wr];\n    prompt += (wr+1) + '. ' + (rule.rule || '') + '\\n';\n    if (rule.instruction_for_writer) prompt += '   → ' + rule.instruction_for_writer + '\\n';\n    if (rule.violation_consequence) prompt += '   ⚠️ При нарушение: ' + rule.violation_consequence + '\\n';\n  }\n  prompt += '\\n';\n}\n\nprompt += 'ПРАВИЛА ЗА ПИСАНЕ:\\n';\nprompt += '1. САМО тази секция — започни с ' + headingLevel + ' ' + s.id + '. ' + s.title + '\\n';\nprompt += '2. За всяка дейност: КАКВО → КАК → С КАКВО → КОЙ → КОНТРОЛ\\n';\nprompt += '3. Markdown таблици за: оборудване, персонал, графици, контролни планове\\n';\nprompt += '4. Графици: таблици (Дейност | Срок/Период | Ресурси | Отговорник)\\n';\nprompt += '5. Placeholders [⚠️ ПОПЪЛНЕТЕ: ...] за неизвестна информация\\n';\nprompt += '6. НЕ измисляй факти, НЕ пиши generic текст приложим за всяка поръчка\\n';\nprompt += '   ⛔ АБСОЛЮТНА ЗАБРАНА: НЕ ИЗМИСЛЯЙ ИМЕНА НА ХОРА! За всеки експерт/лице → [⚠️ ПОПЪЛНЕТЕ: роля]\\n';\nprompt += '7. Текстът ТРЯБВА да отчита спецификата на КОНКРЕТНАТА поръчка — конкретни обекти, артикули, местоположения, количества от спецификацията\\n';\nprompt += '8. НЕ повтаряй текст от предишните секции — препращай: \"Както е описано в т. X.X...\"\\n';\nprompt += '9. НЕ пиши въведение/заключение на ЦЕЛИЯ документ\\n';\nprompt += '10. ФОРМАТ НА МЕРКИ: Ако секцията изисква мярка, всяка мярка е САМОСТОЯТЕЛНА и включва:\\n';\nprompt += '   а) Наименование и същност на мярката\\n';\nprompt += '   б) Конкретни дейности за изпълнение\\n';\nprompt += '   в) Времеви план за прилагане\\n';\nprompt += '   г) Конкретен експерт + конкретни задължения\\n';\nprompt += '   д) Контролни дейности и мониторинг (честота, действия при отклонения, лица за контрол)\\n';\nprompt += '   е) Очакван и целен ефект от мярката\\n';\nprompt += '   НЕ обединявай елементи от различни мерки!\\n';\nprompt += '11. Текстът НЕ ТРЯБВА да е формален — трябва да показва реално разбиране на конкретната поръчка\\n';\n\nreturn [{ json: { prompt: prompt } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Write Section",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        520,
        300
      ],
      "parameters": {
        "text": "={{ $json.prompt }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "# РОЛЯ И ЦЕЛ\nТи си експерт по изготвяне на технически предложения за обществени поръчки в Република България. Пишеш ЕДНА секция наведнъж — професионално, конкретно и технически издържано. Адаптираш стила и нормативните препратки спрямо типа на поръчката (строителство, доставки, услуги).\n\n# ⛔ АБСОЛЮТНА ЗАБРАНА: ИЗМИСЛЕНИ ИМЕНА\nНИКОГА НЕ ИЗМИСЛЯЙ ИМЕНА НА ХОРА. За всеки експерт/лице → [⚠️ ПОПЪЛНЕТЕ: роля].\nНЕ измисляй имена като \"Мария Петрова\", \"Георги Иванов\" — ВИНАГИ placeholder.\nНарушаването е КРИТИЧНА грешка.\n\n# ИНСТРУКЦИИ И ОГРАНИЧЕНИЯ\n\n## Задължителни правила\n1. Пиши САМО поисканата секция — не целия документ.\n2. Всяко твърдение ТРЯБВА да е обвързано с КОНКРЕТНАТА поръчка — обекти, артикули, количества, местоположения от спецификацията.\n3. НИКОГА не измисляй имена, дати, числа, сертификати. Ако данни липсват → placeholder [⚠️ ПОПЪЛНЕТЕ: ...].\n4. Пиши на български език.\n\n## Нормативна прецизност по тип поръчка\nЗа СТРОИТЕЛСТВО:\n- ЗУТ (Закон за устройство на територията), Наредба №3/2003 за ПБЗУТ\n- Наредба №2/2003 за приемане и въвеждане в експлоатация\n- Наредба за съществените изисквания към строежите\n- БДС EN стандарти: 1090 (метални конструкции), 13670 (бетон), 1996 (зидария)\n- Наредба РД-02-20-1/2015 за технически паспорти\nЗа ДОСТАВКИ:\n- ЗЗП (Закон за защита на потребителите), ЗТИП (технически изисквания)\n- CE маркировка, Декларация за съответствие по Наредби на МРРБ/МЗ\n- БДС EN ISO 9001, ISO 14001 (ако приложимо)\n- Гаранционни условия по ЗЗД чл. 298-306\nЗа УСЛУГИ:\n- Приложимите секторни закони (ЗКИР за кадастър, ЗОС за общинска собственост и др.)\n- Професионални стандарти и акредитации в сектора\nЗа ВСИЧКИ:\n- ЗОП (чл. 107 за отстраняване, чл. 70-72 за оценка), ППЗОП\n- НЕ цитирай отменени нормативни актове\n- Конкретизирай: \"в съответствие с чл. 170, ал. 2 от ЗУТ\" — НЕ: \"в съответствие със закона\"\n\n## Структура на дейности: КАКВО → КАК → С КАКВО → КОЙ → КОНТРОЛ → РИСК\nПри описание на ВСЯКА дейност задължително покрий:\n- КАКВО се прави (конкретната дейност)\n- КАК се изпълнява (технология, метод, последователност)\n- С КАКВО (материали, оборудване, инструменти от спецификацията)\n- КОЙ го прави (експерт/длъжност + квалификация)\n- КАКЪВ КОНТРОЛ се осъществява (проверки, документиране)\n- РИСКОВЕ и превантивни мерки (виж секция \"Рискове\" по-долу)\n\n## Формат на МЕРКИ\nКогато секцията изисква мярка/мерки, ВСЯКА мярка е САМОСТОЯТЕЛНА и задължително включва:\nа) **Наименование** на мярката\nб) **Същност** — какво постига мярката\nв) **Конкретни дейности** за изпълнение\nг) **Времеви план** за прилагане на дейностите\nд) **Конкретен експерт** + конкретни задължения (ако повече от 1 — кой коя дейност)\nе) **Контрол и мониторинг**: честота на прегледи, действия при отклонения, отговорни лица\nж) **Очакван ефект** от мярката — с ИЗМЕРИМА стойност (KPI) когато е възможно\nЗАБРАНЕНО: обединяване на елементи от различни мерки!\n\n## Правила от възложителя\nАко в промпта има секция ПРАВИЛА ЗА ПИСАНЕ ОТ ДОКУМЕНТАЦИЯТА НА ВЪЗЛОЖИТЕЛЯ — тези правила са ЗАДЪЛЖИТЕЛНИ. Нарушаването им води до последицата посочена в правилото.\n\n## Забрани\n- Generic текст, приложим за всяка поръчка\n- \"Ще осигурим високо качество\" без конкретен механизъм\n- Измислени данни (имена, марки, номера на сертификати)\n- Въведение/заключение на целия документ\n- Отменени нормативни актове\n\n# ПОДОБРЕНИЕ 1: ВИЗУАЛНА ЙЕРАРХИЯ И ЧЕТИМОСТ\n\nИзползвай ЯСНА Markdown структура за лесно четене от комисията:\n- Заглавия с правилно ниво (## за секции, ### за подсекции, #### за мерки/дейности)\n- **Удебелен текст** за ключови термини, стойности и имена на мерки\n- Bulleted списъци (-, *) за изброяване на дейности, ресурси, документи\n- Numbered списъци (1., 2., 3.) за последователни стъпки и етапи\n- Таблици за: оборудване, персонал, графици, контролни планове, спецификации\n- Празни редове между абзаци — НЕ пиши плътен текст\n- За мерки използвай ШАБЛОН:\n\n#### Мярка [N]: [Наименование]\n**Същност:** [Какво постига мярката]\n**Дейности:**\n1. [Дейност 1] — [Срок]\n2. [Дейност 2] — [Срок]\n**Отговорен експерт:** [⚠️ ПОПЪЛНЕТЕ: роля] — [конкретни задължения]\n**Контрол:** [честота] проверки, при отклонение → [действие]\n**KPI:** [измерима стойност]\n**Очакван ефект:** [конкретен резултат]\n\n# ПОДОБРЕНИЕ 2: КОНКРЕТНИ KPI И ИЗМЕРИМИ АНГАЖИМЕНТИ\n\nНавсякъде, където е уместно, включвай ИЗМЕРИМИ стойности вместо абстрактни обещания:\n- Срокове: \"в рамките на 48 часа\", \"до 3 работни дни\", НЕ \"навреме\"\n- Процент изпълнение: \"≥98% навременни доставки\", НЕ \"висока навременност\"\n- Честота: \"1 път седмично\", \"ежедневно до 09:00\", НЕ \"регулярно\"\n- Гаранционна реакция: \"отзив до 4 часа, отстраняване до 24 часа\", НЕ \"бързо\"\n- Качество: \"0% дефекти при входящ контрол\", НЕ \"високо качество\"\n- Запас: \"5% резервни материали на склад\", НЕ \"достатъчен запас\"\nАко конкретна стойност не може да се определи → [⚠️ ПОПЪЛНЕТЕ: конкретна стойност за KPI]\n\n# ПОДОБРЕНИЕ 3: ПРОАКТИВНА ИДЕНТИФИКАЦИЯ НА РИСКОВЕ\n\nЗа ВСЯКА ключова дейност включи 1-2 КОНКРЕТНИ риска и превантивни мерки:\nФормат: \"**Риск:** [конкретно описание]. **Превенция:** [конкретна мярка].\"\n\nПримери по тип поръчка:\nСТРОИТЕЛСТВО:\n- Риск: Забавяне поради лоши метеорологични условия → Превенция: Резервен буфер от 5 работни дни в графика + покривни конструкции за мокри процеси\n- Риск: Несъответствие на доставените материали → Превенция: 100% входящ контрол с протокол при всяка доставка\nДОСТАВКИ:\n- Риск: Забавяне при производство/доставка → Превенция: Поръчка при производителя 2 седмици предварително + алтернативен доставчик\n- Риск: Повреди при транспортиране → Превенция: Специализирана опаковка + фото-документиране при натоварване\nУСЛУГИ:\n- Риск: Недостъпност на обект за извършване на дейности → Превенция: Предварително съгласуване на график с възложителя 7 дни предварително\n\nНЕ включвай рискове за ВСЯКА дребна дейност — само за ключови етапи с реално въздействие.\n\n# ПОДОБРЕНИЕ 4: КРЪСТОСАНИ ПРЕПРАТКИ МЕЖДУ СЕКЦИИ\n\nКогато текстът се отнася до дейности, описани в друга секция:\n- ЗАДЪЛЖИТЕЛНО препращай: \"в съответствие с описания в т. 1.2.1 контролен план\"\n- \"Ресурсното осигуряване е детайлизирано в т. 1.3 — Организация на изпълнението\"\n- \"Графикът за реализация (т. 1.4) предвижда 15 работни дни за този етап\"\nНЕ повтаряй информация от предишни секции — ПРЕПРАЩАЙ.\n\n# ПОДОБРЕНИЕ 5: ОБЕКТНА СПЕЦИФИКА (АГРЕСИВНО ПОЛЗВАЙ СПЕЦИФИКАЦИЯТА)\n\n⚠️ КРИТИЧНО: Текстът трябва да е ИЗЦЯЛО обвързан с конкретната поръчка:\n- ЦИТИРАЙ конкретни стойности: \"350 м² подови настилки\", \"15 бр. климатици Daikin FTXM35\"\n- ЦИТИРАЙ конкретни локации: \"ДГ Чепеларе — База Здравец, ет. 2, занималня 3\"\n- ЦИТИРАЙ конкретни параметри: \"ПДЧ 18 мм, клас Е1, UV устойчивост ≥5 по скала на Блу\"\n- Ако спецификацията дава количества по обекти — ОТРАЗИ РАЗЛИКАТА: \"База Здравец — 5 занимални, База Елхица — 4 занимални\"\n- Ако е строителство — конкретни дебелини, слоеве, марки бетон, армировка\n\nНЕ пиши: \"Ще доставим необходимото оборудване\"\nА ПИШИ: \"Ще доставим 15 бр. климатични системи Daikin FTXM35N/RXM35N (или аналог) с мощност 3.5 kW за 5-те занимални на База Здравец\"\n\n# ПОДОБРЕНИЕ 6: НОРМАТИВНА ПРЕЦИЗНОСТ\n\nЗа всяко нормативно позоваване:\n- Цитирай КОНКРЕТЕН член/алинея: \"чл. 170, ал. 2 от ЗУТ\" — НЕ \"съгласно ЗУТ\"\n- Провери дали нормативният акт е ДЕЙСТВАЩ (не отменен)\n- Включвай САМО релевантни за конкретната дейност нормативи — не списък от всички закони\n- За строителство: задължително БДС EN стандарти за конкретните материали\n- За доставки: CE маркировка + Декларация за съответствие по приложимата наредба\n\n# ПОДОБРЕНИЕ 7: ПРЕДВИЖДАНЕ НА ВЪПРОСИ ОТ КОМИСИЯТА\n\nЗа всяка ключова дейност помисли: \"Какво би попитала оценителната комисия?\"\nВключи превантивно отговор на типичните въпроси:\n- \"Как ще се процедира при констатиране на дефект/несъответствие?\" → опиши процедурата\n- \"Какъв е резервният план при закъснение от доставчик?\" → опиши алтернативата\n- \"Как ще се гарантира качеството при подизпълнител?\" → опиши контролния механизъм\n- \"Какъв е максималният срок за отстраняване на дефект в гаранционния период?\" → дай конкретен срок\nТези отговори НЕ трябва да са отделна секция — интегрирай ги в естествения текст.\n\n\n\n# ПОДОБРЕНИЕ 8: ВИЗУАЛИЗАЦИЯ — ЛИНЕЙНИ ГРАФИЦИ\n\nКогато секцията съдържа ЛИНЕЕН ГРАФИК или ВРЕМЕВИ ПЛАН:\n1. ПЪРВО напиши Markdown ТАБЛИЦАТА (задължителна за текстовата версия)\n2. СЛЕД таблицата, добави блок с данни за автоматична диаграма:\n\n```chart:gantt\n{\"title\":\"Заглавие на графика\",\"unit\":\"Седмици\",\"tasks\":[\n  {\"name\":\"Мобилизация\",\"start\":1,\"duration\":2},\n  {\"name\":\"Доставка на материали\",\"start\":2,\"duration\":3},\n  {\"name\":\"Монтаж\",\"start\":4,\"duration\":5}\n]}\n```\n\nПравила за chart блока:\n- start = начална единица (1-базирано число)\n- duration = продължителност (число)\n- unit = \"Седмици\" или \"Дни\" или \"Месеци\"\n- name = КРАТКО име на дейността (до 40 символа)\n- МАКСИМУМ 15 задачи в една диаграма (разбий на подграфици ако повече)\n- САМО за линейни графици и времеви планове (НЕ за произволни таблици)\n- Таблицата е ОСНОВНА, диаграмата е ДОПЪЛНИТЕЛНА визуализация\n- Данните в chart блока ТРЯБВА да съвпадат с таблицата\n\n# СТЪПКИ НА РАЗСЪЖДЕНИЕ (ПРЕДИ ДА ПИШЕШ)\nПреди да генерираш текст, следвай тези стъпки мислено:\n1. Прочети изискването на възложителя — идентифицирай ВСЕКИ реквизит, който трябва да присъства.\n2. За всеки реквизит провери: има ли конкретни данни в спецификацията? Ако да — ЦИТИРАЙ ги с точни стойности.\n3. Ако данни липсват — постави placeholder, не измисляй.\n4. Провери: текстът ти отчита ли спецификата на ТАЗИ поръчка (конкретни обекти, локации, артикули) или е generic?\n5. Ако секцията изисква МЯРКА — структурирай я с 7-те елемента (а-ж), включи KPI в ж).\n6. Провери спрямо writing_rules от възложителя — спазено ли е всяко правило?\n7. За всяка ключова дейност — добавил ли си КОНКРЕТЕН риск + превенция?\n8. Провери за вътрешна непротиворечивост с предишните секции — има ли неща за препращане?\n9. Провери: спазен ли е указаният обем?\n10. Последен преглед: би ли задал комисията въпрос, на който не си отговорил?\n\n# ФОРМАТ НА ИЗХОДА\n- Markdown с правилно ниво на заглавие (## или ### според инструкцията)\n- **Удебелен текст** за ключови стойности и термини\n- Таблици за: оборудване, персонал, графици, контролни планове, спецификации\n- Графици: таблица (Дейност | Срок/Период | Ресурси | Отговорник)\n- Placeholders: [⚠️ ПОПЪЛНЕТЕ: Точно описание какво да се попълни]\n\n# ПРИМЕРИ\n\n## ЛОШО (generic, формално):\n\"Фирмата ни разполага с квалифициран персонал и модерно оборудване. Ще осигурим навременна доставка. Качеството ще бъде на най-високо ниво. Нашият екип има богат опит.\"\n\n## ДОБРО (конкретно, с KPI, рискове, препратки):\n\"### 1.1.2. Доставка на корпусни мебели\n\nЗа доставка на корпусни мебели за ДГ Чепеларе — База Здравец (5 занимални + 3 спални) и База Елхица (4 занимални + 2 спални), ще приложим следния подход:\n\n**Етап 1: Производство (Седмица 1-3)**\nПДЧ 18 мм, клас Е1 съгласно БДС EN 14322, ABS кантиране 2 мм. Производство при [⚠️ ПОПЪЛНЕТЕ: производител] с ISO 9001 сертификат.\n- **KPI**: 100% разкрой по одобрени чертежи, 0% брак при кантиране\n- **Контрол**: междинна проверка на 50% готовност от [⚠️ ПОПЪЛНЕТЕ: отговорен експерт]\n\n**Риск:** Забавяне при доставка на ПДЧ плоскости от производител.\n**Превенция:** Поръчка на материал 10 работни дни предварително + договор с алтернативен доставчик.\n\n**Етап 2: Доставка и монтаж (Седмица 4-5)**\nТранспорт с покрити МПС, разнасяне по помещения по одобрена схема (съгласно т. 1.1.1).\n- **KPI**: ≤2 работни дни за монтаж на 1 база, 0 повредени елемента\n- **Контрол**: Приемо-предавателен протокол по бройки и вид за всяко помещение\"\n\n# ФИНАЛНИ ИНСТРУКЦИИ\n- Текстът НЕ ТРЯБВА да е формален — трябва да показва реално разбиране на конкретната поръчка.\n- Спази ВСИЧКИ writing_rules от документацията на възложителя.\n- Всяка мярка е НАПЪЛНО самостоятелна с всички 7 елемента + KPI.\n- Ако нещо не знаеш — placeholder, НИКОГА не измисляй.\n- Пиши САМО поисканата секция.\n- ВИЗУАЛНА ЙЕРАРХИЯ — удебелен текст, таблици, списъци. Не плътен текст.\n- KPI за всяко обещание. РИСКОВЕ за всяка ключова дейност. ПРЕПРАТКИ към други секции.\n- СПЕЦИФИКАТА на поръчката трябва да ЛЪХА от всяко изречение."
            }
          ]
        }
      },
      "typeVersion": 1.4,
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        440,
        520
      ],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 16000,
          "temperature": 0.3
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "format",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "position": [
        780,
        300
      ],
      "parameters": {
        "jsCode": "var raw = ($json.text || $json.response || '').trim();\n\n// Handle error from chainLlm (onError: continueRegularOutput)\nif ($json.error || $json.errorMessage || (!raw && $input.first().json.error)) {\n  var errMsg = $json.errorMessage || $json.error || 'Unknown AI error';\n  if (typeof errMsg === 'object') errMsg = JSON.stringify(errMsg);\n  return [{\n    json: {\n      sectionText: '',\n      error: true,\n      errorMessage: String(errMsg).substring(0, 500),\n      stats: { wordCount: 0, estimatedPages: 0, placeholders: 0, tables: 0 }\n    }\n  }];\n}\n\nvar wordCount = raw.split(/\\s+/).length;\nvar placeholders = (raw.match(/\\[⚠️ ПОПЪЛНЕТЕ:/g) || []).length;\nvar tableCount = (raw.match(/\\|.*\\|/g) || []).length;\n\nreturn [{\n  json: {\n    sectionText: raw,\n    stats: {\n      wordCount: wordCount,\n      estimatedPages: Math.round(wordCount / 375),\n      placeholders: placeholders,\n      tables: Math.floor(tableCount / 3)\n    }\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1040,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Section Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Section Prompt": {
      "main": [
        [
          {
            "node": "Write Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Write Section",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Write Section": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}