n8n/workflows/06-validate-section.json
{
  "name": "TP - Validate Section",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        300
      ],
      "webhookId": "tp-validate-section",
      "parameters": {
        "httpMethod": "POST",
        "path": "tp-validate-section",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Validation Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        260,
        300
      ],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar pt = body.procurementType || 'неопределен';\nvar secText = (body.sectionText || '').substring(0, 30000);\nvar secStr = JSON.stringify(body.section || {}, null, 2).substring(0, 5000);\nvar reqStr = JSON.stringify(body.requirements || {}, null, 2).substring(0, 15000);\nvar writingRules = body.writingRules || [];\n\nvar p = 'Ти си строг одитор на технически предложения за обществени поръчки.\\n';\np += 'Проверяваш ЕДНА секция от документа.\\n\\n';\np += 'ТИП ПОРЪЧКА: ' + pt + '\\n\\n';\np += 'СЕКЦИЯ ЗА ПРОВЕРКА:\\n' + secText + '\\n\\n';\np += 'ИЗИСКВАНЕ КОЕТО ТРЯБВА ДА ПОКРИЕ:\\n' + secStr + '\\n\\n';\np += 'ОРИГИНАЛНИ ИЗИСКВАНИЯ ОТ ДОКУМЕНТАЦИЯТА:\\n' + reqStr + '\\n\\n';\n\nif (writingRules.length > 0) {\n  p += '⚠️ ПРАВИЛА ЗА ПИСАНЕ ОТ ДОКУМЕНТАЦИЯТА НА ВЪЗЛОЖИТЕЛЯ:\\n';\n  for (var wr = 0; wr < writingRules.length; wr++) {\n    var rule = writingRules[wr];\n    p += (wr+1) + '. ' + (rule.rule || '') + '\\n';\n    if (rule.instruction_for_validator) p += '   → Проверка: ' + rule.instruction_for_validator + '\\n';\n    if (rule.violation_consequence) p += '   ⚠️ При нарушение: ' + rule.violation_consequence + '\\n';\n  }\n  p += '\\n';\n}\n\np += 'ПРОВЕРКИ:\\n';\np += '1. ПОКРИТИЕ: Покрива ли ВСИЧКИ подточки на изискването? Пропуснати ли са аспекти?\\n';\np += '2. КОНКРЕТНОСТ: Конкретна ли е за тази поръчка или е generic/шаблонен текст?\\n';\np += '3. ХАЛЮЦИНАЦИИ: Има ли измислени факти, несъществуващи стандарти, фалшиви данни?\\n';\np += '   ⛔ ИЗМИСЛЕНИ ИМЕНА: Има ли конкретни имена на хора (Мария Петрова, Георги Иванов и т.н.)? Ако да → FAIL. Трябва да са placeholders [⚠️ ПОПЪЛНЕТЕ: роля].\\n';\np += '4. РЕЛЕВАНТНОСТ: Съответства ли на типа поръчка? (не строителство за IT и обратно)\\n';\np += '5. ТАБЛИЦИ: Има ли подходящи таблици? Добре форматирани ли са?\\n';\np += '6. ОБЕМ: Адекватен ли е? (не прекалено кратък, не раздут с повторения)\\n';\np += '7. ПРАВИЛА НА ВЪЗЛОЖИТЕЛЯ: Спазени ли са ВСИЧКИ writing_rules по-горе?\\n';\np += '8. ФОРМАЛНОСТ: Текстът отчита ли спецификата на КОНКРЕТНАТА поръчка, или е формално разработен (generic)?\\n\\n';\np += 'ОЦЕНКА:\\n';\np += '- 80+ точки = PASS (секцията е достатъчно добра)\\n';\np += '- Под 80 = FAIL (нужна е корекция)\\n';\np += '- FAIL САМО при: пропуснати изисквания, халюцинации, изцяло generic текст, нарушени writing_rules\\n';\np += '- При FAIL: дай КОНКРЕТНИ инструкции какво точно да се поправи\\n\\n';\np += 'Върни САМО валиден JSON (без markdown блокове):\\n';\np += '{\\n  \"passed\": true,\\n  \"score\": 85,\\n  \"issues\": [\"кратко описание на проблем\"],\\n';\np += '  \"feedback\": \"конкретни инструкции за поправка (само ако passed=false)\"\\n}';\n\nreturn [{ json: { prompt: p } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Validate Section",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        520,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "text": "={{ $json.prompt }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "# РОЛЯ И ЦЕЛ\nТи си строг, но справедлив одитор по качеството на технически предложения за обществени поръчки.\n\n# ИНСТРУКЦИИ\n1. Оценяваш ЕДНА секция наведнъж.\n2. PASS (score >= 80): секцията е адекватна и покрива изискванията.\n3. FAIL (score < 80): САМО при сериозни проблеми — липсващи реквизити, измислени данни, изцяло generic текст, нарушени writing_rules от възложителя.\n\n# СПЕЦИАЛНА ПРОВЕРКА: ИЗМИСЛЕНИ ИМЕНА\nПроверете дали текстът съдържа конкретни имена на хора (напр. \"Мария Петрова\", \"Петър Стоянов\").\nИмената на хора (освен управителя от contractorInfo) са ИЗМИСЛЕНИ от AI и са ЗАБРАНЕНИ.\nПравилно: [⚠️ ПОПЪЛНЕТЕ: име на ръководител обект] — placeholder вместо име.\nНаличието на измислени имена = автоматичен FAIL с feedback за замяна с placeholders.\n\n# СТЪПКИ ЗА ОЦЕНКА\n1. Секцията покрива ли ВСИЧКИ реквизити от изискването на възложителя?\n2. Текстът конкретен ли е за ТАЗИ поръчка или е generic/формален?\n3. Има ли измислени данни (имена, числа, сертификати без placeholder)?\n4. Мерките (ако има) имат ли ВСИЧКИ 7 елемента (наименование, същност, дейности, план, експерт, контрол, ефект)?\n5. Има ли вътрешни противоречия?\n6. Спазен ли е обемът?\n7. Спазени ли са ВСИЧКИ writing_rules от документацията на възложителя?\n8. Текстът формален ли е? (generic текст, приложим за всяка поръчка = формален)\n\n# ПРАВИЛА ОТ ВЪЗЛОЖИТЕЛЯ\nАко в промпта има секция ПРАВИЛА ЗА ПИСАНЕ ОТ ДОКУМЕНТАЦИЯТА НА ВЪЗЛОЖИТЕЛЯ — проверете ВСЯКО правило поотделно. Нарушение на writing_rule с последица \"отстраняване\" = автоматичен FAIL.\n\n# СПЕЦИАЛЕН ФОКУС: ФОРМАЛНОСТ\nТекст е \"формално разработен\" когато:\n- По външни признаци присъства минимално изискуемият елемент\n- Но при анализ на съдържанието НЕ отчита спецификата на конкретната поръчка\n- Или по своята същност НЕ може да се съотнесе към елемента за който е разработен\n- Или поради начин на изписване НЕ може да се установи съответствие\nФормален текст = FAIL.\n\n# ФОРМАТ\nИзход: САМО валиден JSON с полета: passed (boolean), score (0-100), issues (array), feedback (string).\nПри FAIL — feedback ТРЯБВА да е КОНКРЕТЕН и actionable. Не просто \"подобрете секцията\", а \"липсва времеви план в мярката за взаимозаменяемост\".\nЕзик: български."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Opus",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        440,
        520
      ],
      "parameters": {
        "model": "anthropic/claude-opus-4",
        "options": {
          "maxTokens": 4000,
          "temperature": 0.1
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "position": [
        780,
        300
      ],
      "parameters": {
        "jsCode": "// Sanitize Unicode smart quotes that break JSON parsing\nfunction sanitize(s) {\n  return s.replace(/[\\u201C\\u201D\\u201E\\u201F\\u00AB\\u00BB\\u2018\\u2019]/g, \"'\");\n}\n\nfunction tryParse(s) {\n  try { return JSON.parse(s); } catch(e) { return null; }\n}\n\nfunction extractJson(s) {\n  var m = s.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  var c = m ? m[1].trim() : s;\n  var start = c.indexOf('{');\n  var end = c.lastIndexOf('}');\n  if (start === -1 || end === -1) {\n    // Try array\n    start = c.indexOf('[');\n    end = c.lastIndexOf(']');\n    if (start === -1 || end === -1) return s;\n  }\n  return c.substring(start, end + 1);\n}\n\nfunction fixCommon(s) {\n  return s.replace(/,\\s*([\\]\\}])/g, '$1');\n}\n\nfunction fixQuotes(s) {\n  var out = '';\n  var inStr = false;\n  var escaped = false;\n  for (var i = 0; i < s.length; i++) {\n    var ch = s[i];\n    if (escaped) { out += ch; escaped = false; continue; }\n    if (ch === '\\\\') { out += ch; escaped = true; continue; }\n    if (ch === '\"') {\n      if (!inStr) {\n        inStr = true;\n        out += ch;\n      } else {\n        var rest = s.substring(i + 1).trimStart();\n        var next = rest.length > 0 ? rest[0] : '';\n        if (next === ':' || next === ',' || next === '}' || next === ']' || rest.length === 0) {\n          inStr = false;\n          out += ch;\n        } else {\n          out += '\\\\\"';\n        }\n      }\n    } else {\n      out += ch;\n    }\n  }\n  return out;\n}\n\nvar raw = ($json.text || $json.response || '').trim();\nvar result = null;\n\nraw = sanitize(raw);\n\nresult = tryParse(raw);\n\nif (!result) {\n  var extracted = fixCommon(extractJson(raw));\n  result = tryParse(extracted);\n}\n\nif (!result) {\n  var extracted2 = fixCommon(extractJson(raw));\n  result = tryParse(fixQuotes(extracted2));\n}\n\nif (!result) {\n  result = {\n    passed: true,\n    score: 75,\n    issues: [],\n    feedback: 'Auto-passed due to parse error',\n    _parse_error: true\n  };\n}\n\n// Ensure boolean passed field\nif (typeof result.passed === 'undefined') result.passed = true;\nif (typeof result.score === 'undefined') result.score = 75;\n\nreturn [{ json: result }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1040,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Validation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Validation Prompt": {
      "main": [
        [
          {
            "node": "Validate Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Opus": {
      "ai_languageModel": [
        [
          {
            "node": "Validate Section",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Validate Section": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}