n8n/workflows/07-finalize-document.json
{
  "name": "TP - Step 7: Finalize Document",
  "nodes": [
    {
      "id": "trigger",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [0, 300],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "llm",
      "name": "Final Edit",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [300, 300],
      "parameters": {
        "text": "=Ти си главен редактор на технически предложения за обществени поръчки.\n\nПолучаваш пълния документ. Извърши финална редакция.\n\n## ЗАДАЧИ:\n\n### 1. Кохерентност\n- Провери логиката между секциите\n- Премахни противоречия\n- Осигури еднаква терминология\n- Провери препратките (\"Както е описано в т. 3.2\" → дали т. 3.2 го съдържа)\n\n### 2. Премахване на повторения\n- Остави подробното описание на едно място, на другите — кратка препратка\n- ВНИМАНИЕ: повторения в различен контекст са допустими\n\n### 3. Езикова редакция\n- Правопис и граматика на български\n- Професионален, официален стил\n- Кратки, ясни изречения\n- Единно форматиране на нормативни препратки\n\n### 4. Форматиране\n- Проверка на номерацията\n- Проверка на таблиците\n- Коректен Markdown\n\n### 5. Проверка на placeholders\n- Всички [⚠️ ПОПЪЛНЕТЕ: ...] маркери да са ясни и конкретни\n\n## ПРАВИЛА:\n- НЕ добавяй ново съдържание\n- НЕ премахвай съдържание (само ясни повторения)\n- Запази всички placeholders\n- Запази структурата\n- Бъди консервативен\n\n{{ $json.validationFeedback ? '## ЗАБЕЛЕЖКИ ОТ ВАЛИДАЦИЯ:\\n' + $json.validationFeedback : '' }}\n\n## ДОКУМЕНТ ЗА РЕДАКЦИЯ:\n\n{{ $json.draftText }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are a chief editor for Bulgarian public procurement technical proposals. Edit for coherence, remove repetitions, fix grammar, standardize formatting. Do NOT add new content. Do NOT remove content except clear repetitions. Preserve all placeholders. Output the FULL edited Markdown document followed by a JSON stats block."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Opus",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [220, 520],
      "parameters": {
        "model": "anthropic/claude-opus-4-20250514",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1",
          "maxTokens": 64000,
          "temperature": 0.15
        }
      },
      "typeVersion": 1
    },
    {
      "id": "process",
      "name": "Process Result",
      "type": "n8n-nodes-base.code",
      "position": [600, 300],
      "parameters": {
        "jsCode": "const raw = ($json.text || $json.response || '').trim();\n\n// Try to separate the markdown from the JSON stats block\nlet finalText = raw;\nlet stats = {};\n\n// Look for JSON block at the end\nconst jsonMatch = raw.match(/```(?:json)?\\s*(\\{[\\s\\S]*?\\})\\s*```\\s*$/);\nif (jsonMatch) {\n  finalText = raw.substring(0, jsonMatch.index).trim();\n  try {\n    stats = JSON.parse(jsonMatch[1]);\n  } catch (e) {\n    // ignore parse error\n  }\n}\n\n// Calculate stats if not provided\nconst wordCount = finalText.split(/\\s+/).length;\nconst estimatedPages = Math.round(wordCount / 375);\nconst placeholderCount = (finalText.match(/\\[⚠️ ПОПЪЛНЕТЕ:/g) || []).length;\n\nstats = {\n  ...stats,\n  wordCount: stats.word_count || wordCount,\n  estimatedPages: stats.estimated_pages || estimatedPages,\n  placeholderCount: stats.total_placeholders || placeholderCount,\n  charCount: finalText.length\n};\n\nreturn [{\n  json: {\n    finalText,\n    stats\n  }\n}];"
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Final Edit", "type": "main", "index": 0 }]] },
    "Claude Opus": { "ai_languageModel": [[{ "node": "Final Edit", "type": "ai_languageModel", "index": 0 }]] },
    "Final Edit": { "main": [[{ "node": "Process Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
