n8n/workflows/20-eval-orchestrator.json
{
  "name": "Eval - Orchestrator",
  "nodes": [
    {
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 200],
      "webhookId": "eval-generate",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "n02",
      "name": "Init Job",
      "type": "n8n-nodes-base.code",
      "position": [300, 200],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar evalNotes = body.evaluationNotes || '';\nvar jobId = 'eval_' + Date.now() + '_' + Math.random().toString(36).substring(2, 6);\n\nreturn [{\n  json: {\n    jobId: jobId,\n    evaluationNotes: evalNotes,\n    timestamp: new Date().toISOString()\n  },\n  binary: $binary\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "n03",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [600, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ jobId: $json.jobId, status: 'accepted', message: 'Evaluation pipeline started' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "n04",
      "name": "Split Binary Files",
      "type": "n8n-nodes-base.code",
      "position": [900, 200],
      "parameters": {
        "jsCode": "var b = $binary || {};\nvar items = [];\nfor (var k of Object.keys(b)) {\n  items.push({ json: { sourceField: k, fileName: b[k].fileName || k }, binary: { data: b[k] } });\n}\nif (items.length === 0) throw new Error('No files uploaded');\nreturn items;"
      },
      "typeVersion": 2
    },
    {
      "id": "n05",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [1200, 200],
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "n06",
      "name": "Merge Texts",
      "type": "n8n-nodes-base.code",
      "position": [0, 500],
      "parameters": {
        "jsCode": "var items = $input.all();\nvar splitItems = $('Split Binary Files').all();\nvar reqText = '', propText = '';\nfor (var i = 0; i < items.length; i++) {\n  var text = items[i].json.text || items[i].json.data || '';\n  var sf = (splitItems[i] && splitItems[i].json.sourceField || '').toLowerCase();\n  if (sf === 'requirements' || sf.indexOf('req') >= 0) {\n    reqText += text + '\\n\\n';\n  } else {\n    propText += text + '\\n\\n';\n  }\n}\nreturn [{ json: {\n  requirementsText: reqText.trim(),\n  proposalText: propText.trim(),\n  totalCharacters: (reqText + propText).length\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "n07",
      "name": "Extract Requirements",
      "type": "n8n-nodes-base.httpRequest",
      "position": [300, 500],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/eval-extract-requirements",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requirementsText: $json.requirementsText }) }}",
        "options": { "timeout": 180000 }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "typeVersion": 4.2
    },
    {
      "id": "n08",
      "name": "After Requirements",
      "type": "n8n-nodes-base.code",
      "position": [600, 500],
      "parameters": {
        "jsCode": "var mt = $('Merge Texts').first().json;\nreturn [{ json: {\n  requirementsText: mt.requirementsText || '',\n  proposalText: mt.proposalText || ''\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "n09",
      "name": "Analyze Proposal",
      "type": "n8n-nodes-base.httpRequest",
      "position": [900, 500],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/eval-analyze-proposal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ proposalText: $json.proposalText }) }}",
        "options": { "timeout": 180000 }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "typeVersion": 4.2
    },
    {
      "id": "n10",
      "name": "After Proposal Analysis",
      "type": "n8n-nodes-base.code",
      "position": [1200, 500],
      "parameters": {
        "jsCode": "var reqs = $('Extract Requirements').first().json.requirements || $('Extract Requirements').first().json;\nvar propAnalysis = $json.proposalAnalysis || $json;\nvar mt = $('Merge Texts').first().json;\n\nreturn [{ json: {\n  requirements: reqs,\n  proposalAnalysis: propAnalysis,\n  proposalText: mt.proposalText || '',\n  procurementInfo: {\n    subject: (reqs.procurement_subject || propAnalysis.proposal_subject || 'Неизвестен'),\n    authority: (reqs.contracting_authority || 'Неизвестен'),\n    type: (reqs.procurement_type || 'неопределен')\n  }\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "n11",
      "name": "Flatten Requirements",
      "type": "n8n-nodes-base.code",
      "position": [0, 800],
      "parameters": {
        "jsCode": "var data = $json;\nvar reqs = data.requirements || {};\nvar reqList = reqs.requirements || [];\nvar propAnalysis = data.proposalAnalysis || {};\nvar proposalText = data.proposalText || '';\nvar procInfo = data.procurementInfo || {};\n\nif (reqList.length === 0) throw new Error('No requirements found in documentation');\n\n// Init staticData for accumulation\nvar sd = $getWorkflowStaticData('global');\nsd.findings = [];\nsd.allRequirements = reqs;\nsd.proposalAnalysis = propAnalysis;\nsd.procurementInfo = procInfo;\n\nvar items = [];\nfor (var i = 0; i < reqList.length; i++) {\n  items.push({\n    json: {\n      requirement: reqList[i],\n      reqIndex: i,\n      totalReqs: reqList.length,\n      proposalAnalysis: propAnalysis,\n      proposalText: proposalText\n    }\n  });\n}\nreturn items;"
      },
      "typeVersion": 2
    },
    {
      "id": "n12",
      "name": "Loop Over Requirements",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [300, 800],
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "n13",
      "name": "Prep Cross-Ref",
      "type": "n8n-nodes-base.code",
      "position": [600, 1000],
      "parameters": {
        "jsCode": "return [{ json: {\n  requirement: $json.requirement,\n  proposalAnalysis: $json.proposalAnalysis,\n  proposalText: ($json.proposalText || '').substring(0, 50000)\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "n14",
      "name": "Cross-Reference",
      "type": "n8n-nodes-base.httpRequest",
      "position": [900, 1000],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/eval-cross-reference",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 120000 }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "typeVersion": 4.2
    },
    {
      "id": "n15",
      "name": "Accumulate Finding",
      "type": "n8n-nodes-base.code",
      "position": [1200, 1000],
      "parameters": {
        "jsCode": "var sd = $getWorkflowStaticData('global');\nvar finding = $json.finding || $json;\nsd.findings.push(finding);\nreturn [{ json: { ok: true } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "n16",
      "name": "Assemble Findings",
      "type": "n8n-nodes-base.code",
      "position": [0, 1200],
      "parameters": {
        "jsCode": "var sd = $getWorkflowStaticData('global');\nvar findings = sd.findings || [];\nvar reqs = sd.allRequirements || {};\nvar propAnalysis = sd.proposalAnalysis || {};\nvar procInfo = sd.procurementInfo || {};\n\n// Count stats\nvar compliant = 0, partial = 0, nonCompliant = 0, missing = 0;\nfor (var i = 0; i < findings.length; i++) {\n  var s = findings[i].status;\n  if (s === 'COMPLIANT') compliant++;\n  else if (s === 'PARTIALLY_COMPLIANT') partial++;\n  else if (s === 'NON_COMPLIANT') nonCompliant++;\n  else if (s === 'MISSING') missing++;\n}\n\nreturn [{ json: {\n  findings: findings,\n  requirements: reqs,\n  proposalAnalysis: propAnalysis,\n  procurementInfo: procInfo,\n  stats: {\n    total: findings.length,\n    compliant: compliant,\n    partiallyCompliant: partial,\n    nonCompliant: nonCompliant,\n    missing: missing\n  }\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "n17",
      "name": "Legal Validation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [300, 1200],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/eval-legal-validation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ findings: $json.findings, requirements: $json.requirements, procurementInfo: $json.procurementInfo }) }}",
        "options": { "timeout": 300000 }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "typeVersion": 4.2
    },
    {
      "id": "n18",
      "name": "After Legal Validation",
      "type": "n8n-nodes-base.code",
      "position": [600, 1200],
      "parameters": {
        "jsCode": "var af = $('Assemble Findings').first().json;\nvar legalValidation = $json.legalValidation || $json;\n\nreturn [{ json: {\n  findings: af.findings,\n  legalValidation: legalValidation,\n  requirements: af.requirements,\n  proposalAnalysis: af.proposalAnalysis,\n  procurementInfo: af.procurementInfo,\n  stats: af.stats\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "n19",
      "name": "Generate Report",
      "type": "n8n-nodes-base.httpRequest",
      "position": [900, 1200],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/eval-generate-report",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 180000 }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "typeVersion": 4.2
    },
    {
      "id": "n20",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.code",
      "position": [1200, 1200],
      "parameters": {
        "jsCode": "var sd = $getWorkflowStaticData('global');\nvar af = $('Assemble Findings').first().json;\nvar reportText = $json.reportText || $json.text || '';\nvar stats = af.stats || {};\nvar legalVal = $('After Legal Validation').first().json.legalValidation || {};\nvar overallRec = (legalVal.overall_conclusion || legalVal.overall_recommendation || {}).action || 'N/A';\n\n// Clean up staticData\nsd.findings = [];\nsd.allRequirements = null;\nsd.proposalAnalysis = null;\nsd.procurementInfo = null;\n\nvar wc = reportText.trim().split(/\\s+/).length;\n\nreturn [{ json: {\n  success: true,\n  finalDocument: reportText,\n  statusPayload: {\n    jobId: $('Init Job').first().json.jobId,\n    status: 'completed',\n    phase: 'completed',\n    progress: 100,\n    message: 'Оценката е завършена!',\n    result: {\n      text: reportText,\n      stats: {\n        wordCount: wc,\n        estimatedPages: Math.round(wc / 375),\n        totalRequirements: stats.total || 0,\n        compliant: stats.compliant || 0,\n        partiallyCompliant: stats.partiallyCompliant || 0,\n        nonCompliant: stats.nonCompliant || 0,\n        missing: stats.missing || 0,\n        overallRecommendation: overallRec,\n        disqualificationGrounds: (legalVal.overall_conclusion || legalVal.overall_recommendation || {}).disqualification_grounds_count || 0\n      }\n    }\n  }\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "gdrive1",
      "name": "Save to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [300, 1500],
      "parameters": {
        "resource": "file",
        "operation": "createFromText",
        "name": "=Оценка_ТП_{{ $now.format('yyyy-MM-dd_HHmm') }}",
        "content": "={{ $json.finalDocument }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "MyDrive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CONFIGURE_IN_N8N",
          "name": "CONFIGURE_IN_N8N"
        }
      },
      "onError": "continueRegularOutput",
      "typeVersion": 3
    },

    {
      "id": "s01",
      "name": "Status: Init",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 400],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $json.jobId, status: 'processing', phase: 'uploading', progress: 5, message: 'Обработка на файлове...' }) }}",
        "options": { "timeout": 10000 }
      },
      "typeVersion": 4.2
    },
    {
      "id": "s02",
      "name": "Status: Extracting",
      "type": "n8n-nodes-base.httpRequest",
      "position": [0, 700],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Init Job').first().json.jobId, status: 'processing', phase: 'extracting_requirements', progress: 15, message: 'Извличане на изисквания от документацията...' }) }}",
        "options": { "timeout": 10000 }
      },
      "typeVersion": 4.2
    },
    {
      "id": "s03",
      "name": "Status: Analyzing",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 700],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Init Job').first().json.jobId, status: 'processing', phase: 'analyzing_proposal', progress: 30, message: 'Анализ на техническото предложение...' }) }}",
        "options": { "timeout": 10000 }
      },
      "typeVersion": 4.2
    },
    {
      "id": "s04",
      "name": "Status: Cross-Ref",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 1200],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Init Job').first().json.jobId, status: 'processing', phase: 'cross_referencing', progress: Math.round(40 + ($json.reqIndex / $json.totalReqs) * 30), message: 'Кръстосана проверка: изискване ' + ($json.reqIndex + 1) + ' от ' + $json.totalReqs + '...' }) }}",
        "options": { "timeout": 10000 }
      },
      "typeVersion": 4.2
    },
    {
      "id": "s05",
      "name": "Status: Legal",
      "type": "n8n-nodes-base.httpRequest",
      "position": [0, 1400],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Init Job').first().json.jobId, status: 'processing', phase: 'legal_validation', progress: 75, message: 'Юридическа валидация на констатациите...' }) }}",
        "options": { "timeout": 10000 }
      },
      "typeVersion": 4.2
    },
    {
      "id": "s06",
      "name": "Status: Report",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 1400],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Init Job').first().json.jobId, status: 'processing', phase: 'generating_report', progress: 88, message: 'Генериране на протокол...' }) }}",
        "options": { "timeout": 10000 }
      },
      "typeVersion": 4.2
    },
    {
      "id": "s07",
      "name": "Status: Complete",
      "type": "n8n-nodes-base.httpRequest",
      "position": [300, 1400],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.simeontsvetanovn8nworkflows.site/webhook/internal/update-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.statusPayload) }}",
        "options": { "timeout": 10000 }
      },
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Init Job", "type": "main", "index": 0 }]] },
    "Init Job": { "main": [[
      { "node": "Send Response", "type": "main", "index": 0 },
      { "node": "Status: Init", "type": "main", "index": 0 }
    ]] },
    "Send Response": { "main": [[
      { "node": "Split Binary Files", "type": "main", "index": 0 }
    ]] },
    "Split Binary Files": { "main": [[{ "node": "Extract from PDF", "type": "main", "index": 0 }]] },
    "Extract from PDF": { "main": [[{ "node": "Merge Texts", "type": "main", "index": 0 }]] },
    "Merge Texts": { "main": [[
      { "node": "Extract Requirements", "type": "main", "index": 0 },
      { "node": "Status: Extracting", "type": "main", "index": 0 }
    ]] },
    "Extract Requirements": { "main": [[{ "node": "After Requirements", "type": "main", "index": 0 }]] },
    "After Requirements": { "main": [[
      { "node": "Analyze Proposal", "type": "main", "index": 0 },
      { "node": "Status: Analyzing", "type": "main", "index": 0 }
    ]] },
    "Analyze Proposal": { "main": [[{ "node": "After Proposal Analysis", "type": "main", "index": 0 }]] },
    "After Proposal Analysis": { "main": [[{ "node": "Flatten Requirements", "type": "main", "index": 0 }]] },
    "Flatten Requirements": { "main": [[{ "node": "Loop Over Requirements", "type": "main", "index": 0 }]] },
    "Loop Over Requirements": {
      "main": [
        [{ "node": "Assemble Findings", "type": "main", "index": 0 }],
        [{ "node": "Prep Cross-Ref", "type": "main", "index": 0 }]
      ]
    },
    "Prep Cross-Ref": { "main": [[
      { "node": "Cross-Reference", "type": "main", "index": 0 },
      { "node": "Status: Cross-Ref", "type": "main", "index": 0 }
    ]] },
    "Cross-Reference": { "main": [[{ "node": "Accumulate Finding", "type": "main", "index": 0 }]] },
    "Accumulate Finding": { "main": [[{ "node": "Loop Over Requirements", "type": "main", "index": 0 }]] },
    "Assemble Findings": { "main": [[
      { "node": "Legal Validation", "type": "main", "index": 0 },
      { "node": "Status: Legal", "type": "main", "index": 0 }
    ]] },
    "Legal Validation": { "main": [[{ "node": "After Legal Validation", "type": "main", "index": 0 }]] },
    "After Legal Validation": { "main": [[
      { "node": "Generate Report", "type": "main", "index": 0 },
      { "node": "Status: Report", "type": "main", "index": 0 }
    ]] },
    "Generate Report": { "main": [[{ "node": "Pipeline Complete", "type": "main", "index": 0 }]] },
    "Pipeline Complete": { "main": [[
      { "node": "Status: Complete", "type": "main", "index": 0 },
      { "node": "Save to Google Drive", "type": "main", "index": 0 }
    ]] }
  },
  "settings": { "executionOrder": "v1" }
}
