n8n/workflows/21-extract-eval-requirements.json
{
  "name": "Eval - Extract Requirements",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-extract-requirements",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-extract-requirements",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar reqText = body.requirementsText || body.fullText || '';\nif (reqText.length > 120000) reqText = reqText.substring(0, 120000);\nreturn [{ json: { requirementsText: reqText } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Extract Requirements",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "=Ти си експерт по обществени поръчки в България (ЗОП, ППЗОП). Работиш като консултант на комисия за оценка на технически предложения.\n\n## ЗАДАЧА\nИзвлечи АБСОЛЮТНО ВСИЧКИ изисквания от документацията на възложителя, които кандидатите трябва да изпълнят.\n\n## КАТЕГОРИЗАЦИЯ\nЗа ВСЯКО изискване определи:\n1. **Тип**: MANDATORY (липсата = отстраняване по ЗОП) или EVALUATIVE (липсата = по-ниски точки)\n2. **Последици при неспазване**\n3. **Къде в документацията е записано**\n\n## КЪДЕ ДА ТЪРСИШ\n- Раздел \"Критерии за подбор\" / \"Минимални изисквания\"\n- Раздел \"Показатели за оценка на техническите предложения\"\n- Раздел \"Методика за оценка\" / \"Критерии за възлагане\"\n- Раздел \"Изисквания към техническото предложение\"\n- Раздел \"Указания за подготовка на офертата\"\n- Приложения/Образци\n- Техническа спецификация — задължителни параметри\n\n## КАКВО ДА ИЗВЛЕЧЕШ\n\n### 1. Задължителни изисквания (чл. 107 ЗОП):\n- Минимални стандарти, които ТРЯБВА да се покрият\n- Задължителни документи, декларации, приложения\n- Конкретна информация, която ТРЯБВА да присъства\n- Формат, обем, структура на предложението\n- Технически параметри от спецификацията, които са задължителни\n\n### 2. Оценяеми изисквания (показатели за оценка):\n- Критерии и подкритерии с тегла/максимални точки\n- Какво дава максимум/минимум точки\n- Праг за минимален брой точки (ако има)\n\n### 3. Подизисквания:\n- Ако изискване казва \"опишете X, включително а), б), в)\" — ВСЯКА подточка ОТДЕЛНО\n- Пропуснато подизискване = пропуснато изискване\n\n## КРИТИЧНИ ПРАВИЛА ПРОТИВ ХАЛЮЦИНАЦИИ\n- Извличай САМО текст, който РЕАЛНО присъства в документа\n- ДОСЛОВНО копиране — не перифразирай, не интерпретирай\n- Ако нещо НЕ е споменато → НЕ го добавяй, постави null\n- НЕ измисляй точки, критерии или подизисквания\n- Ако не е ясно дали е задължително или оценяемо → маркирай като UNCLEAR\n- Пропуск на реално изискване = ДИСКВАЛИФИКАЦИЯ на анализа\n\n## ФОРМАТ НА ОТГОВОР\nВърни САМО валиден JSON (без markdown блокове, без обяснения):\n{\n  \"procurement_subject\": \"Пълно наименование от документа или null\",\n  \"contracting_authority\": \"Възложител от документа или null\",\n  \"procurement_type\": \"строителство|услуги|доставки|проектиране|смесена\",\n  \"requirements\": [\n    {\n      \"id\": \"R1\",\n      \"title\": \"Дословен текст на заглавието\",\n      \"full_text\": \"Дословен текст — копиран точно от документа\",\n      \"type\": \"MANDATORY|EVALUATIVE|UNCLEAR\",\n      \"consequence\": \"отстраняване по чл.107 ЗОП|намалени точки|друго\",\n      \"source_section\": \"Точна секция от документацията\",\n      \"sub_requirements\": [{\"id\": \"R1.1\", \"text\": \"Дословен текст на подизискването\"}],\n      \"max_points\": null,\n      \"scoring_criteria\": \"Дословен текст от методиката или null\",\n      \"evidence_required\": \"Какво доказателство/документ трябва да представи кандидатът\"\n    }\n  ],\n  \"format_requirements\": {\n    \"page_limit\": null,\n    \"required_structure\": [],\n    \"required_attachments\": [],\n    \"language\": \"български\"\n  },\n  \"disqualification_grounds\": [\"Изрично описани основания за отстраняване от документацията — ДОСЛОВНО\"],\n  \"minimum_score_threshold\": null,\n  \"extraction_confidence\": \"HIGH|MEDIUM|LOW\",\n  \"notes\": \"Бележки за неясноти\"\n}\n\nДОКУМЕНТАЦИЯ НА ВЪЗЛОЖИТЕЛЯ:\n{{ $json.requirementsText }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are an expert in Bulgarian public procurement law (ЗОП, ППЗОП). You work as a consultant for an evaluation committee reviewing technical proposals.\n\nCRITICAL RULES:\n1. Extract ONLY requirements that ACTUALLY EXIST in the provided text\n2. NEVER invent, add, or hallucinate requirements\n3. Copy text VERBATIM from the document\n4. For each requirement, determine if it's MANDATORY (absence = disqualification under Art. 107 ЗОП) or EVALUATIVE (absence = lower score)\n5. If a field cannot be determined from the document, use null\n6. Missing a real requirement is a CRITICAL error\n7. Adding a non-existent requirement is ALSO a CRITICAL error\n8. Output ONLY valid JSON, no markdown blocks, no explanations\nLanguage: Bulgarian."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 16000,
          "temperature": 0.1
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Requirements",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "const raw = ($json.text || $json.response || '').trim();\nlet result;\n\ntry {\n  result = JSON.parse(raw);\n} catch (e) {\n  const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  const candidate = m ? m[1].trim() : raw;\n  try {\n    const s = candidate.indexOf('{');\n    const e2 = candidate.lastIndexOf('}');\n    let jsonStr = candidate.substring(s, e2 + 1);\n    jsonStr = jsonStr.replace(/,\\s*([\\]\\}])/g, '$1');\n    result = JSON.parse(jsonStr);\n  } catch (e3) {\n    result = {\n      procurement_subject: 'Parse error',\n      requirements: [],\n      _parse_error: 'JSON parse failed',\n      _raw: raw.substring(0, 2000)\n    };\n  }\n}\n\nreturn [{ json: { requirements: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]] },
    "Prepare Data": { "main": [[{ "node": "Extract Requirements", "type": "main", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Extract Requirements", "type": "ai_languageModel", "index": 0 }]] },
    "Extract Requirements": { "main": [[{ "node": "Parse Requirements", "type": "main", "index": 0 }]] },
    "Parse Requirements": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
