n8n/workflows/21-extract-eval-requirements.json
{
  "name": "Eval - Extract Requirements",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-extract-requirements",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-extract-requirements",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar reqText = body.requirementsText || body.fullText || '';\nif (reqText.length > 120000) reqText = reqText.substring(0, 120000);\nreturn [{ json: { requirementsText: reqText } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Extract Requirements",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "=Ти си експерт по обществени поръчки в България (ЗОП, ППЗОП). Работиш като консултант на комисия за оценка на ТЕХНИЧЕСКАТА ЧАСТ на предложения.\n\n## ЗАДАЧА\nИзвлечи САМО ТЕХНИЧЕСКИТЕ изисквания от документацията на възложителя, свързани с техническото предложение (работна програма, начин на изпълнение, методология, организация, екип, оборудване, графици, качество, безопасност и т.н.).\n\n## ВАЖНО — КАКВО ДА ИГНОРИРАШ НАПЪЛНО\nНЕ извличай нищо свързано с:\n- ЕЕДОП (Единен европейски документ за обществени поръчки)\n- Ценово предложение / финансова оферта\n- Критерии за подбор (годност, икономическо състояние, технически способности на фирмата)\n- Гаранции за участие/изпълнение\n- Административни/формални документи (декларации, удостоверения, лицензи на фирмата)\n- Застраховки, данъчни удостоверения\n- Опит на фирмата (референции за изпълнени договори)\n- Подизпълнители (формален аспект) — САМО ако влияе на техническото предложение\n\n## КАКВО ДА ИЗВЛЕЧЕШ — САМО ТЕХНИЧЕСКА ЧАСТ\n\n### 1. Изисквания към съдържанието на техническото предложение:\n- Задължителни секции/раздели на техническото предложение\n- Какво ТРЯБВА да включва работната програма\n- Какво ТРЯБВА да включва описанието на начина на изпълнение\n- Задължителни методологии, подходи, стандарти\n- Изисквания за график/линеен график\n- Технически параметри, които ТРЯБВА да бъдат постигнати\n\n### 2. Показатели за оценка на техническото предложение:\n- Показатели/подпоказатели с тегла и максимални точки\n- Методика за оценка — ДОСЛОВНО какво дава макс/мин точки\n- Какво конкретно се оценява за всеки показател\n- Минимален праг за точки (ако има)\n\n### 3. Технически изисквания от спецификацията:\n- Задължителни технически параметри\n- Стандарти за качество, безопасност, околна среда\n- Изисквания за персонал (квалификация, сертификати, опит на КОНКРЕТНИТЕ СПЕЦИАЛИСТИ)\n- Изисквания за техника/оборудване\n- Изисквания за организация на работа\n\n### 4. Подизисквания:\n- Ако изискване казва \"опишете X, включително а), б), в)\" — ВСЯКА подточка ОТДЕЛНО\n- Пропуснато подизискване = пропуснато изискване\n\n## КАТЕГОРИЗАЦИЯ\nЗа ВСЯКО изискване определи:\n- **MANDATORY**: Липсата = отстраняване по чл. 107 ЗОП (задължително за съдържанието на ТП)\n- **EVALUATIVE**: Липсата = по-ниски точки по показатели за оценка\n- **UNCLEAR**: Не е ясно дали е задължително или оценяемо\n\n## КРИТИЧНИ ПРАВИЛА ПРОТИВ ХАЛЮЦИНАЦИИ\n- Извличай САМО текст, който РЕАЛНО присъства в документа\n- ДОСЛОВНО копиране — не перифразирай, не интерпретирай\n- Ако нещо НЕ е споменато → НЕ го добавяй, постави null\n- НЕ измисляй точки, критерии или подизисквания\n- Ако не е ясно дали е задължително или оценяемо → маркирай като UNCLEAR\n- Фокусирай се на ДЪЛБОЧИНА — всяко изискване разбий на мин подизисквания\n\n## ФОРМАТ НА ОТГОВОР\nВърни САМО валиден JSON (без markdown блокове, без обяснения):\n{\n  \"procurement_subject\": \"Пълно наименование от документа или null\",\n  \"contracting_authority\": \"Възложител от документа или null\",\n  \"procurement_type\": \"строителство|услуги|доставки|проектиране|смесена\",\n  \"requirements\": [\n    {\n      \"id\": \"R1\",\n      \"title\": \"Дословен текст на заглавието\",\n      \"full_text\": \"Дословен текст — копиран точно от документа\",\n      \"type\": \"MANDATORY|EVALUATIVE|UNCLEAR\",\n      \"consequence\": \"отстраняване по чл.107 ЗОП|намалени точки|друго\",\n      \"source_section\": \"Точна секция от документацията\",\n      \"sub_requirements\": [{\"id\": \"R1.1\", \"text\": \"Дословен текст на подизискването\"}],\n      \"max_points\": null,\n      \"scoring_criteria\": \"Дословен текст от методиката или null\",\n      \"evidence_required\": \"Какво доказателство трябва да присъства в ТП\"\n    }\n  ],\n  \"evaluation_methodology\": {\n    \"total_technical_points\": null,\n    \"indicators\": [{\"name\": \"\", \"max_points\": null, \"weight\": null, \"description\": \"\"}],\n    \"minimum_threshold\": null\n  },\n  \"format_requirements\": {\n    \"page_limit\": null,\n    \"required_structure\": [],\n    \"required_attachments\": [],\n    \"language\": \"български\"\n  },\n  \"disqualification_grounds\": [\"САМО технически основания за отстраняване — ДОСЛОВНО\"],\n  \"extraction_confidence\": \"HIGH|MEDIUM|LOW\",\n  \"notes\": \"Бележки за неясноти\"\n}\n\nДОКУМЕНТАЦИЯ НА ВЪЗЛОЖИТЕЛЯ:\n{{ $json.requirementsText }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are an expert in Bulgarian public procurement law (ЗОП, ППЗОП). You work as a consultant evaluating ONLY the TECHNICAL PART of proposals (работна програма, начин на изпълнение, методология, организация).\n\nCRITICAL RULES:\n1. Extract ONLY TECHNICAL requirements from the documentation — related to the technical proposal content\n2. COMPLETELY IGNORE: ESPD (ЕЕДОП), price proposals, selection criteria (company experience/turnover), guarantees, administrative documents, insurance, tax certificates\n3. FOCUS ON: methodology, work program, execution plan, team qualifications, equipment, quality, safety, timelines, technical parameters, evaluation indicators for the technical proposal\n4. Copy text VERBATIM from the document\n5. Break down each requirement into the finest possible sub-requirements for deep analysis\n6. If a field cannot be determined from the document, use null\n7. NEVER invent requirements — extract only what actually exists\n8. Output ONLY valid JSON, no markdown blocks, no explanations\nLanguage: Bulgarian."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 16000,
          "temperature": 0.1
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Requirements",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "const raw = ($json.text || $json.response || '').trim();\nlet result;\n\ntry {\n  result = JSON.parse(raw);\n} catch (e) {\n  const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  const candidate = m ? m[1].trim() : raw;\n  try {\n    const s = candidate.indexOf('{');\n    const e2 = candidate.lastIndexOf('}');\n    let jsonStr = candidate.substring(s, e2 + 1);\n    jsonStr = jsonStr.replace(/,\\s*([\\]\\}])/g, '$1');\n    result = JSON.parse(jsonStr);\n  } catch (e3) {\n    result = {\n      procurement_subject: 'Parse error',\n      requirements: [],\n      _parse_error: 'JSON parse failed',\n      _raw: raw.substring(0, 2000)\n    };\n  }\n}\n\nreturn [{ json: { requirements: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]] },
    "Prepare Data": { "main": [[{ "node": "Extract Requirements", "type": "main", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Extract Requirements", "type": "ai_languageModel", "index": 0 }]] },
    "Extract Requirements": { "main": [[{ "node": "Parse Requirements", "type": "main", "index": 0 }]] },
    "Parse Requirements": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
