n8n/workflows/21-extract-eval-requirements.json
{
  "name": "Eval - Extract Requirements",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-extract-requirements",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-extract-requirements",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar reqText = body.requirementsText || body.fullText || '';\nif (reqText.length > 120000) reqText = reqText.substring(0, 120000);\nreturn [{ json: { requirementsText: reqText } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Extract Requirements",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "=Ти си член на оценителна комисия по обществена поръчка в България. Задачата ти е да извлечеш ВСИЧКИ задължителни изисквания към ТЕХНИЧЕСКОТО ПРЕДЛОЖЕНИЕ, които ще послужат за точка-по-точка проверка дали участникът ги е изпълнил.\n\n## ЦЕЛ\nДа се създаде ИЗЧЕРПАТЕЛЕН СПИСЪК от проверяеми точки (checkpoints), по които кандидатът може да бъде отстранен при непълноти или несъответствия.\n\n## КАКВО ДА ИГНОРИРАШ НАПЪЛНО\nНЕ извличай нищо свързано с:\n- ЕЕДОП, критерии за подбор (годност, оборот, опит на фирмата)\n- Ценово предложение, финансова оферта\n- Гаранции, застраховки, данъчни удостоверения\n- Административни/формални документи (декларации, удостоверения, лицензи)\n- Подизпълнители (формален аспект)\n\n## КАКВО ДА ИЗВЛЕЧЕШ — ФОКУС ВЪРХУ ПРОВЕРЯЕМИТЕ ИЗИСКВАНИЯ КЪМ ТЕХНИЧЕСКОТО ПРЕДЛОЖЕНИЕ\n\nЗа всяко изискване трябва да е ясно: КАКВО ТОЧНО трябва да съдържа техническото предложение, за да НЕ бъде отстранен участникът.\n\n### Типични изисквания (извличай САМО ако ги има в документа):\n\n1. **Работна програма / начин на изпълнение** — какво ТОЧНО трябва да включва:\n   - Описание на начина/метода на изпълнение ЗА ВСЯКА дейност/позиция от КСС\n   - Технологична последователност на операциите\n   - Използвани материали, техника, механизация ЗА ВСЯКА дейност\n   - Човешки ресурси ЗА ВСЯКА дейност (брой работници, квалификация)\n   - Разпределение на отговорностите по видове строителни дейности\n\n2. **Линеен график** — какво ТРЯБВА да показва:\n   - ВСЯКА ОТДЕЛНА позиция от КСС (не агрегирани групи)\n   - Продължителност на всяка дейност ПООТДЕЛНО\n   - Последователност и припокриване на дейностите\n   - Съответствие с предложения срок за изпълнение\n\n3. **Диаграма на работната ръка / ресурсните графици**:\n   - Брой работници по периоди\n   - Съответствие между работниците в графика и в работната програма\n   - Разпределение по специалности\n\n4. **Техническо оборудване и механизация**:\n   - Конкретна техника за всяка дейност\n   - Съответствие с описания начин на изпълнение\n\n5. **Екип / ключови експерти** (САМО ако са част от ТП):\n   - Квалификация, сертификати\n   - Роли и отговорности\n\n6. **Качество и безопасност**:\n   - План за качество\n   - Мерки за ЗБУТ\n   - Опазване на околната среда\n\n## КЛЮЧОВО ИЗИСКВАНЕ ЗА ГРАНУЛЯРНОСТ\n\nВсяко изискване РАЗБИЙ на най-малките проверяеми единици. Пример:\n- Ако документацията казва \"Работната програма трябва да включва описание на начина на изпълнение на строителството, включително технологична последователност, използвани материали и техника\" → това са ТРИ ОТДЕЛНИ подточки:\n  - R1.1: Описание на начина на изпълнение\n  - R1.2: Технологична последователност на операциите\n  - R1.3: Описание на използваните материали и техника\n\n- Ако казва \"линеен график, показващ последователността и продължителността на дейностите\" → ДВЕ подточки:\n  - R2.1: Последователност на дейностите в линейния график\n  - R2.2: Продължителност на всяка дейност\n\n## КРИТИЧНИ ПРАВИЛА ЗА ПРОВЕРЯЕМОСТ\n\nЗа ВСЯКО изискване формулирай CHECK CRITERIA — конкретни въпроси за проверка:\n- Примери: \"Описан ли е начинът на изпълнение за ВСЯКА ОТДЕЛНА позиция от КСС?\"\n- \"Посочени ли са конкретни материали или само общо 'качествени материали'?\"\n- \"Линейният график показва ли ВСЯКА позиция от КСС поотделно, или ги агрегира?\"\n- \"Броят работници в диаграмата на работната ръка съответства ли на посочения в работната програма?\"\n- \"Има ли разпределение на отговорностите по ВИДОВЕ строителни дейности?\"\n\n## ФОРМАТ НА ОТГОВОР\nВърни САМО валиден JSON (без markdown блокове, без обяснения):\n{\n  \"procurement_subject\": \"Пълно наименование от документа или null\",\n  \"contracting_authority\": \"Възложител от документа или null\",\n  \"procurement_type\": \"строителство|услуги|доставки|проектиране|смесена\",\n  \"requirements\": [\n    {\n      \"id\": \"R1\",\n      \"title\": \"Кратко заглавие на изискването\",\n      \"full_text\": \"ДОСЛОВЕН текст — копиран точно от документацията на възложителя\",\n      \"source_section\": \"Точна секция/страница от документацията\",\n      \"type\": \"MANDATORY\",\n      \"consequence\": \"Отстраняване по чл. 107, т. 2, буква 'а' от ЗОП — несъответствие на ТП с условията на поръчката\",\n      \"sub_requirements\": [\n        {\n          \"id\": \"R1.1\",\n          \"text\": \"Дословен текст на подизискването\",\n          \"check_criteria\": \"Конкретен въпрос за проверка — какво ТОЧНО трябва да присъства в ТП\"\n        }\n      ],\n      \"cross_check_with\": [\"R2\", \"R3\"],\n      \"expected_evidence\": \"Какво КОНКРЕТНО доказателство/съдържание трябва да се намери в ТП за това изискване\"\n    }\n  ],\n  \"cross_reference_rules\": [\n    {\n      \"rule\": \"Брой работници в работната програма ТРЯБВА да съвпада с диаграмата на работната ръка и линейния график\",\n      \"related_requirements\": [\"R1\", \"R3\", \"R4\"]\n    }\n  ],\n  \"disqualification_grounds\": [\"ДОСЛОВНИ технически основания за отстраняване от документацията\"],\n  \"extraction_confidence\": \"HIGH|MEDIUM|LOW\",\n  \"notes\": \"Бележки за неясноти\"\n}\n\n## ПРАВИЛА ПРОТИВ ХАЛЮЦИНАЦИИ\n- Извличай САМО текст, който РЕАЛНО присъства в документа\n- ДОСЛОВНО копиране в full_text — не перифразирай\n- НЕ измисляй изисквания, които документът не съдържа\n- Ако не е ясно → маркирай в notes\n\nДОКУМЕНТАЦИЯ НА ВЪЗЛОЖИТЕЛЯ:\n{{ $json.requirementsText }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are a member of a Bulgarian public procurement evaluation committee. Your task is to extract ALL mandatory requirements for the TECHNICAL PROPOSAL that will serve as a point-by-point checklist for verifying participant compliance.\n\nCRITICAL RULES:\n1. Extract ONLY requirements related to the TECHNICAL PROPOSAL content (work program, methodology, execution plan, timeline, team, equipment, quality, safety)\n2. COMPLETELY IGNORE: ESPD, price proposals, selection criteria, guarantees, administrative documents\n3. Break down EVERY requirement into the SMALLEST verifiable units (sub-requirements)\n4. For each sub-requirement, formulate a specific CHECK CRITERIA question\n5. Identify CROSS-REFERENCE RULES — which requirements must be consistent with each other (e.g., worker counts in work program vs linear schedule vs resource diagram)\n6. Copy requirement text VERBATIM from the document\n7. NEVER invent requirements — extract only what actually exists in the document\n8. Focus on requirements whose violation leads to DISQUALIFICATION under Art. 107 of the Public Procurement Act\n9. Output ONLY valid JSON, no markdown blocks, no explanations\nLanguage: Bulgarian."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 16000,
          "temperature": 0.1
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Requirements",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "const raw = ($json.text || $json.response || '').trim();\nlet result;\n\ntry {\n  result = JSON.parse(raw);\n} catch (e) {\n  const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  const candidate = m ? m[1].trim() : raw;\n  try {\n    const s = candidate.indexOf('{');\n    const e2 = candidate.lastIndexOf('}');\n    let jsonStr = candidate.substring(s, e2 + 1);\n    jsonStr = jsonStr.replace(/,\\s*([\\]\\}])/g, '$1');\n    result = JSON.parse(jsonStr);\n  } catch (e3) {\n    result = {\n      procurement_subject: 'Parse error',\n      requirements: [],\n      _parse_error: 'JSON parse failed',\n      _raw: raw.substring(0, 2000)\n    };\n  }\n}\n\nreturn [{ json: { requirements: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]] },
    "Prepare Data": { "main": [[{ "node": "Extract Requirements", "type": "main", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Extract Requirements", "type": "ai_languageModel", "index": 0 }]] },
    "Extract Requirements": { "main": [[{ "node": "Parse Requirements", "type": "main", "index": 0 }]] },
    "Parse Requirements": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
