n8n/workflows/22-analyze-proposal.json
{
  "name": "Eval - Analyze Proposal",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-analyze-proposal",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-analyze-proposal",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar propText = body.proposalText || body.fullText || '';\nif (propText.length > 120000) propText = propText.substring(0, 120000);\nreturn [{ json: { proposalText: propText } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Analyze Proposal",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "=Ти си експерт-рецензент на ТЕХНИЧЕСКИ предложения за обществени поръчки. Твоята задача е МНОГО подробен анализ.\n\n## ЗАДАЧА\nНаправи ИЗЧЕРПАТЕЛЕН анализ на ТЕХНИЧЕСКОТО предложение на кандидата. Фокусирай се САМО на техническата част — работна програма, начин на изпълнение, методология, организация, екип, оборудване, график.\n\n## ВАЖНО — КАКВО ДА ИГНОРИРАШ\nНЕ анализирай:\n- ЕЕДОП / критерии за подбор\n- Ценово предложение / финансова информация\n- Административни документи, гаранции, застраховки\n- Опит на фирмата (изпълнени договори, оборот)\n\n## КАКВО ДА ИЗВЛЕЧЕШ И АНАЛИЗИРАШ ПОДРОБНО\n\n### 1. ОБЩА ИНФОРМАЦИЯ\n- Име на кандидата (ако е видимо)\n- Предмет на поръчката (как го описва кандидатът)\n- Обем на предложението (приблизителен брой страници)\n- Обща структура и съдържание\n\n### 2. ЗА ВСЯКА СЕКЦИЯ НА ТЕХНИЧЕСКОТО ПРЕДЛОЖЕНИЕ:\n- Заглавие на секцията\n- Подробно резюме на съдържанието (3-5 изречения)\n- Конкретни твърдения и ангажименти (ДОСЛОВНИ ЦИТАТИ)\n- Дали е конкретно за поръчката или generic/шаблонно\n- Дали има доказателства или само декларативни текстове\n- Дълбочина на описанието — повърхностно или детайлно?\n\n### 3. МЕТОДОЛОГИЯ / НАЧИН НА ИЗПЪЛНЕНИЕ (НАЙ-ВАЖНАТА ЧАСТ!)\n- Описана ли е подробно?\n- Специфична ли е за ТАЗИ поръчка?\n- Описва ли конкретни стъпки и действия?\n- Има ли съотношение с техническата спецификация?\n- Има ли иновативни/добавени предложения?\n- Ключови точки и цитати\n\n### 4. РАБОТНА ПРОГРАМА / ГРАФИК\n- Има ли линеен график / Гант диаграма?\n- Общ срок, етапи, междинни срокове\n- Логическа последователност на дейностите\n- Реалистичност на сроковете\n- Критичен път\n\n### 5. ЕКИП (предложени специалисти в ТП)\n- Предложени специалисти (имена, роли, квалификация)\n- Сертификати/лицензи на КОНКРЕТНИТЕ лица\n- Описан опит — конкретен или общ?\n- Разпределение на отговорностите\n\n### 6. ОБОРУДВАНЕ И РЕСУРСИ\n- Конкретно оборудване (марки, модели)\n- Собствено или наето\n- Достатъчно ли е за описания обем\n\n### 7. КАЧЕСТВО И БЕЗОПАСНОСТ\n- План за качество — конкретен или generic?\n- Мерки за безопасност и околна среда\n- Споменати стандарти\n\n### 8. ТАБЛИЦИ И КОЛИЧЕСТВЕНИ ДАННИ\n- Какви таблици съдържа\n- Попълнени ли са с конкретни данни\n\n### 9. ЧЕРВЕНИ ФЛАГОВЕ И НЕДОСТАТЪЦИ (КРИТИЧНО!)\nТърси АКТИВНО за следните проблеми:\n- **Неясни/размити формулировки**: \"ще се прилага подходяща методология\", \"ще се осигури качество\" без конкретика\n- **Copy-paste от документацията**: преписване на изискванията без собствен принос\n- **Вътрешни противоречия**: едно място твърди едно, друго — друго\n- **Нереалистични обещания**: срокове, които са прекалено оптимистични\n- **Липсваща информация**: непопълнени секции, липсващи детайли\n- **Generic текст**: приложим за всяка поръчка, не специфичен\n- **Несъответствие със спецификацията**: предложеното не съответства на описаното\n- **Липса на иновативност**: няма добавена стойност отвъд минималните изисквания\n- **Непълно покритие**: адресирано, но непълно\n\n## КРИТИЧНИ ПРАВИЛА\n- Извличай САМО от предложението — НИЩО измислено\n- Цитирай ДОСЛОВНО когато е важно\n- Бъди КРИТИЧЕН — търси слабости и недостатъци, не само силни страни\n- НЕ пропускай нищо — всяко твърдение на кандидата има значение\n- Ако нещо липсва в предложението → отбележи го ЯВНО\n\n## ФОРМАТ\nВърни САМО валиден JSON (без markdown блокове):\n{\n  \"candidate_name\": \"или null\",\n  \"proposal_subject\": \"как кандидатът описва предмета\",\n  \"total_pages_approx\": null,\n  \"structure_overview\": \"кратко описание на структурата\",\n  \"sections\": [\n    {\n      \"title\": \"Заглавие на секцията\",\n      \"summary\": \"подробно резюме 3-5 изречения\",\n      \"specific_claims\": [\"ДОСЛОВНИ ЦИТАТИ на конкретни твърдения/ангажименти\"],\n      \"evidence_provided\": [\"конкретни доказателства, документи, референции\"],\n      \"is_generic\": false,\n      \"depth_of_detail\": \"detailed|adequate|superficial|missing\",\n      \"weaknesses\": [\"конкретни слабости на тази секция\"],\n      \"completeness\": \"complete|incomplete|empty\"\n    }\n  ],\n  \"methodology\": {\n    \"described\": true,\n    \"is_specific_to_procurement\": true,\n    \"detail_level\": \"detailed|adequate|superficial|missing\",\n    \"key_points\": [\"...\"],\n    \"weaknesses\": [\"конкретни слабости на методологията\"]\n  },\n  \"work_program\": {\n    \"has_timeline\": true,\n    \"has_gantt\": false,\n    \"total_duration\": \"или null\",\n    \"phases\": [{\"name\": \"\", \"duration\": \"\"}],\n    \"is_realistic\": true,\n    \"weaknesses\": []\n  },\n  \"team\": [\n    {\n      \"role\": \"роля\",\n      \"name\": \"или null\",\n      \"qualifications\": \"описание\",\n      \"certifications\": [\"...\"],\n      \"experience_description\": \"описание\",\n      \"detail_level\": \"detailed|adequate|superficial|missing\"\n    }\n  ],\n  \"equipment\": [\n    {\n      \"type\": \"вид\",\n      \"details\": \"описание\",\n      \"ownership\": \"own|rented|unspecified\"\n    }\n  ],\n  \"quality_safety\": {\n    \"quality_plan\": \"detailed|adequate|superficial|missing\",\n    \"safety_measures\": \"detailed|adequate|superficial|missing\",\n    \"standards_mentioned\": [\"\"]\n  },\n  \"tables_present\": [\"описание на таблиците\"],\n  \"red_flags\": [\n    {\n      \"type\": \"vague|copy_paste|contradiction|unrealistic|missing_info|generic|incomplete_coverage|spec_mismatch|other\",\n      \"description\": \"Подробно описание на проблема с цитати\",\n      \"severity\": \"CRITICAL|MAJOR|MINOR\",\n      \"location\": \"къде в предложението\"\n    }\n  ],\n  \"overall_impression\": \"Общо впечатление за качеството на техническото предложение — 2-3 изречения\",\n  \"extraction_confidence\": \"HIGH|MEDIUM|LOW\"\n}\n\nТЕХНИЧЕСКО ПРЕДЛОЖЕНИЕ НА КАНДИДАТА:\n{{ $json.proposalText }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are an expert critical reviewer of TECHNICAL proposals for Bulgarian public procurement. Your role is to perform an EXHAUSTIVE analysis of the technical content ONLY.\n\nFOCUS EXCLUSIVELY ON:\n- Work program (работна програма)\n- Method of execution (начин на изпълнение)\n- Methodology, organization, quality, safety\n- Team qualifications (as described in the technical proposal)\n- Equipment and resources\n- Timeline and scheduling\n\nCOMPLETELY IGNORE:\n- ESPD (ЕЕДОП), price proposals, selection criteria, company experience/turnover, guarantees, insurance, administrative documents\n\nCRITICAL RULES:\n1. Extract ONLY facts present in the proposal — NEVER invent content\n2. Quote VERBATIM when citing specific claims\n3. Be CRITICAL — actively search for weaknesses, gaps, generic text, and deficiencies\n4. Note EVERY claim, commitment, and piece of evidence\n5. Flag generic/template text that is not specific to the procurement\n6. For each section, assess depth of detail: detailed/adequate/superficial/missing\n7. If information is missing, explicitly note it\n8. Output ONLY valid JSON, no markdown blocks\nLanguage: Bulgarian for content, English for JSON keys."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 16000,
          "temperature": 0.15
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Proposal Data",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "const raw = ($json.text || $json.response || '').trim();\nlet result;\n\ntry {\n  result = JSON.parse(raw);\n} catch (e) {\n  const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  const candidate = m ? m[1].trim() : raw;\n  try {\n    const s = candidate.indexOf('{');\n    const e2 = candidate.lastIndexOf('}');\n    let jsonStr = candidate.substring(s, e2 + 1);\n    jsonStr = jsonStr.replace(/,\\s*([\\]\\}])/g, '$1');\n    result = JSON.parse(jsonStr);\n  } catch (e3) {\n    result = {\n      candidate_name: 'Parse error',\n      sections: [],\n      _parse_error: 'JSON parse failed',\n      _raw: raw.substring(0, 2000)\n    };\n  }\n}\n\nreturn [{ json: { proposalAnalysis: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]] },
    "Prepare Data": { "main": [[{ "node": "Analyze Proposal", "type": "main", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Analyze Proposal", "type": "ai_languageModel", "index": 0 }]] },
    "Analyze Proposal": { "main": [[{ "node": "Parse Proposal Data", "type": "main", "index": 0 }]] },
    "Parse Proposal Data": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
