n8n/workflows/22-analyze-proposal.json
{
  "name": "Eval - Analyze Proposal",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-analyze-proposal",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-analyze-proposal",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar propText = body.proposalText || body.fullText || '';\nif (propText.length > 120000) propText = propText.substring(0, 120000);\nreturn [{ json: { proposalText: propText } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Analyze Proposal",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "=Ти си технически експерт-одитор, член на оценителна комисия по обществена поръчка. Твоята задача е да направиш ДЪЛБОК ТЕХНИЧЕСКИ АНАЛИЗ на предложението с фокус върху намиране на ВЪТРЕШНИ ПРОТИВОРЕЧИЯ, ЛИПСИ, НЕПЪЛНОТИ и АГРЕГИРАНИ ДАННИ.\n\n## ОСНОВНА ЦЕЛ\nНамери КОНКРЕТНИ ФАКТИЧЕСКИ НЕСЪОТВЕТСТВИЯ между различните части на техническото предложение (работна програма ↔ линеен график ↔ диаграма на работна ръка ↔ КСС ↔ ресурсни планове). Не оценявай качеството — ТЪРСИ ГРЕШКИ И ПРОТИВОРЕЧИЯ.\n\n## КАКВО ДА ИГНОРИРАШ\nНЕ анализирай: ЕЕДОП, ценово предложение, критерии за подбор, административни документи, опит/оборот на фирмата.\n\n## КАКВО ДА АНАЛИЗИРАШ — СТЪПКА ПО СТЪПКА\n\n### 1. ИНВЕНТАРИЗАЦИЯ НА СЪДЪРЖАНИЕТО\nОпиши КАКВО ТОЧНО съдържа предложението:\n- Кои секции/раздели са налични\n- Какви таблици, графици, диаграми присъстват\n- Приблизителен обем на всяка секция\n\n### 2. РАБОТНА ПРОГРАМА / НАЧИН НА ИЗПЪЛНЕНИЕ\nЗа ВСЯКА описана дейност/позиция проверявай:\n- Описан ли е КОНКРЕТЕН метод на изпълнение (не само \"ще се извърши качествено\")\n- Посочени ли са КОНКРЕТНИ материали (не общо \"качествени материали\")\n- Описана ли е КОНКРЕТНА техника/оборудване за дейността\n- Посочен ли е КОНКРЕТЕН БРОЙ работници за дейността\n- Има ли технологична последователност на операциите\n\n### 3. ЛИНЕЕН ГРАФИК — КРИТИЧНО ВАЖНО!\nПровери:\n- Показва ли ВСЯКА ОТДЕЛНА позиция от КСС, или ги АГРЕГИРА в групи?\n- Ако агрегира — кои позиции са обединени? (ПРИМЕР: \"Позиции 1-5 от КСС са показани като 'Подготвителни работи' без разбивка\")\n- Съвпадат ли продължителностите с описаното в работната програма?\n- Сборът на дейностите дава ли общия обявен срок?\n\n### 4. КРЪСТОСАНА ПРОВЕРКА НА ЧИСЛА — НАЙ-ВАЖНО!\nТърси КОНКРЕТНИ числови противоречия между различните части:\n\n**Работници:**\n- Брой работници в работната програма за дейност X → сравни с броя в линейния график → сравни с диаграмата на работната ръка\n- ПРИМЕР ЗА НАХОДКА: \"За дейност 'Кофражни работи' в работната програма (стр. 5) са посочени 4 работника, но в линейния график (стр. 12) за същата дейност са предвидени 3 работника, а в диаграмата на работна ръка (стр. 15) пикът е 6 работника за периода.\"\n\n**Срокове:**\n- Продължителност на дейност в работната програма → сравни с линейния график\n- Сумата от дейностите → сравни с общия срок\n\n**Техника:**\n- Описана техника в работната програма → сравни с ресурсния списък\n\n### 5. ЛИПСВАЩИ ЕЛЕМЕНТИ\nЗа всяка секция: КАКВО ОЧАКВАШ ДА ВИДИШ, но НЕ виждаш?\n- Има ли разпределение на отговорностите по ВИДОВЕ дейности? (или само обща организационна схема)\n- Има ли описание за ВСЯКА позиция от КСС, или само за някои?\n- Пропуснати ли са позиции/дейности?\n\n### 6. GENERIC VS СПЕЦИФИЧЕН ТЕКСТ\nОтбележи секции, които са явно шаблонни:\n- Текст, който не е специфичен за тази конкретна поръчка\n- Описания, които могат да се приложат за всеки обект\n\n## ФОРМАТ НА ОТГОВОР\nВърни САМО валиден JSON (без markdown блокове):\n{\n  \"candidate_name\": \"или null\",\n  \"proposal_subject\": \"как кандидатът описва предмета\",\n  \"total_pages_approx\": null,\n  \"sections_inventory\": [\n    {\n      \"title\": \"Заглавие на секцията\",\n      \"pages_approx\": \"стр. X-Y\",\n      \"content_type\": \"text|table|chart|diagram|mixed\",\n      \"summary\": \"Кратко описание на съдържанието\"\n    }\n  ],\n  \"internal_contradictions\": [\n    {\n      \"type\": \"numbers_mismatch|timeline_mismatch|resource_mismatch|description_mismatch|other\",\n      \"description\": \"КОНКРЕТНО описание с числа и позовавания — напр. 'В работната програма за позиция 3 (Армировка) са описани 6 работника, но в линейния график за същата дейност са предвидени 4 работника'\",\n      \"location_1\": \"Секция/страница на първото твърдение\",\n      \"value_1\": \"Конкретна стойност/текст в първия източник\",\n      \"location_2\": \"Секция/страница на второто твърдение\",\n      \"value_2\": \"Конкретна стойност/текст във втория източник\",\n      \"severity\": \"CRITICAL|MAJOR|MINOR\"\n    }\n  ],\n  \"missing_elements\": [\n    {\n      \"what_is_missing\": \"Какво ТРЯБВА да присъства но ЛИПСВА\",\n      \"where_expected\": \"В коя секция се очаква\",\n      \"why_important\": \"Защо е проблем — връзка с изисквания\",\n      \"severity\": \"CRITICAL|MAJOR|MINOR\"\n    }\n  ],\n  \"aggregated_items\": [\n    {\n      \"description\": \"Какво е агрегирано — напр. 'В линейния график позиции 1-8 от КСС са обединени в една обща дейност Подготвителни работи без индивидуална разбивка'\",\n      \"location\": \"Секция/страница\",\n      \"items_aggregated\": \"Кои конкретни позиции/дейности са обединени\",\n      \"should_be_individual\": \"Защо всяка трябва да е отделна\"\n    }\n  ],\n  \"generic_text_sections\": [\n    {\n      \"section\": \"Заглавие/локация\",\n      \"example_quote\": \"Цитат от шаблонния текст\",\n      \"why_generic\": \"Защо не е специфичен за тази поръчка\"\n    }\n  ],\n  \"work_program_detail\": {\n    \"activities_described\": [\"Списък на описаните дейности\"],\n    \"activities_with_specific_method\": [\"Дейности с конкретен метод\"],\n    \"activities_without_specific_method\": [\"Дейности без конкретен метод — само общи фрази\"],\n    \"worker_counts_by_activity\": [{\"activity\": \"...\", \"workers\": \"...\", \"page\": \"...\"}]\n  },\n  \"linear_schedule_detail\": {\n    \"shows_individual_items\": true,\n    \"aggregated_groups\": [\"Групи от агрегирани позиции\"],\n    \"total_duration\": \"общ срок\",\n    \"activities_count\": 0,\n    \"worker_counts_by_activity\": [{\"activity\": \"...\", \"workers\": \"...\", \"page\": \"...\"}]\n  },\n  \"resource_diagram_detail\": {\n    \"present\": true,\n    \"peak_workers\": null,\n    \"matches_work_program\": true,\n    \"discrepancies\": [\"Несъответствия с работната програма\"]\n  },\n  \"overall_assessment\": \"Кратко обобщение на намерените проблеми — 2-3 изречения\",\n  \"extraction_confidence\": \"HIGH|MEDIUM|LOW\"\n}\n\n## КРИТИЧНИ ПРАВИЛА\n- Цитирай ДОСЛОВНО когато намериш противоречие — с конкретни числа и страници\n- НЕ измисляй проблеми, които не съществуват\n- Бъди ОБЕКТИВЕН — отбелязвай и добре направените неща\n- Ако не можеш да определиш стойност — постави null, не измисляй\n- Фокус на ФАКТИЧЕСКИ проверяеми проблеми, не на субективни оценки\n\nТЕХНИЧЕСКО ПРЕДЛОЖЕНИЕ НА КАНДИДАТА:\n{{ $json.proposalText }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are a technical auditor on a Bulgarian public procurement evaluation committee. Your role is to perform a DEEP FACTUAL ANALYSIS of a technical proposal, with the PRIMARY GOAL of finding INTERNAL CONTRADICTIONS, MISSING ELEMENTS, AGGREGATED DATA, and NUMERICAL INCONSISTENCIES between different parts of the proposal.\n\nThis is NOT a quality assessment. You are an AUDITOR hunting for FACTUAL ERRORS and GAPS.\n\nFOCUS EXCLUSIVELY ON:\n- Cross-referencing numbers between work program, linear schedule, resource diagrams (worker counts, durations, equipment)\n- Finding items shown in aggregate that should be individual (e.g., linear schedule grouping multiple items into one)\n- Finding missing elements that should be present\n- Identifying generic/template text that is not specific to this procurement\n\nCOMPLETELY IGNORE: ESPD, price proposals, selection criteria, administrative documents, company experience/turnover.\n\nCRITICAL RULES:\n1. Extract ONLY facts present in the proposal — NEVER invent contradictions\n2. When reporting a contradiction, cite BOTH sources with specific values and locations (page/section)\n3. Be PRECISE with numbers — '4 workers in work program vs 3 workers in linear schedule for the same activity'\n4. Check if the linear schedule shows EVERY individual item from the bill of quantities, or aggregates them\n5. Compare worker counts across: work program → linear schedule → resource diagram\n6. If information is missing, explicitly note WHAT is missing and WHERE it should be\n7. Output ONLY valid JSON, no markdown blocks\nLanguage: Bulgarian for content, English for JSON keys."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 16000,
          "temperature": 0.15
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Proposal Data",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "const raw = ($json.text || $json.response || '').trim();\nlet result;\n\ntry {\n  result = JSON.parse(raw);\n} catch (e) {\n  const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  const candidate = m ? m[1].trim() : raw;\n  try {\n    const s = candidate.indexOf('{');\n    const e2 = candidate.lastIndexOf('}');\n    let jsonStr = candidate.substring(s, e2 + 1);\n    jsonStr = jsonStr.replace(/,\\s*([\\]\\}])/g, '$1');\n    result = JSON.parse(jsonStr);\n  } catch (e3) {\n    result = {\n      candidate_name: 'Parse error',\n      sections: [],\n      _parse_error: 'JSON parse failed',\n      _raw: raw.substring(0, 2000)\n    };\n  }\n}\n\nreturn [{ json: { proposalAnalysis: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]] },
    "Prepare Data": { "main": [[{ "node": "Analyze Proposal", "type": "main", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Analyze Proposal", "type": "ai_languageModel", "index": 0 }]] },
    "Analyze Proposal": { "main": [[{ "node": "Parse Proposal Data", "type": "main", "index": 0 }]] },
    "Parse Proposal Data": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
