n8n/workflows/23-cross-reference.json
{
  "name": "Eval - Cross-Reference",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-cross-reference",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-cross-reference",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Cross-Reference Prompt",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar requirement = body.requirement || {};\nvar proposalAnalysis = body.proposalAnalysis || {};\nvar proposalText = (body.proposalText || '').substring(0, 50000);\nvar reqStr = JSON.stringify(requirement, null, 2).substring(0, 5000);\nvar analysisStr = JSON.stringify(proposalAnalysis, null, 2).substring(0, 25000);\n\nvar p = 'Ти си член на оценителна комисия по обществена поръчка. Изготвяш КОНСТАТАЦИЯ за ЕДНО КОНКРЕТНО изискване — в структурата на реален протокол за отстраняване от процедура.\\n\\n';\np += '## ИЗИСКВАНЕ ЗА ПРОВЕРКА:\\n' + reqStr + '\\n\\n';\np += '## СТРУКТУРИРАН АНАЛИЗ НА ПРЕДЛОЖЕНИЕТО (включва вътрешни противоречия, липси, агрегирани данни):\\n' + analysisStr + '\\n\\n';\np += '## СУРОВ ТЕКСТ НА ТЕХНИЧЕСКОТО ПРЕДЛОЖЕНИЕ:\\n' + proposalText + '\\n\\n';\np += '## СТРУКТУРА НА КОНСТАТАЦИЯТА — СЛЕДВАЙ ТАЗИ ТОЧНА ПОСЛЕДОВАТЕЛНОСТ:\\n\\n';\np += '### СТЪПКА 1: Изискване на възложителя (ДОСЛОВНО)\\n';\np += 'Цитирай ДОСЛОВНО текста на изискването от документацията. Започни с: \"Съгласно [секция] от документацията, участникът е длъжен да представи/опише/включи...\"\\n\\n';\np += '### СТЪПКА 2: Какво се очаква от участника\\n';\np += 'Опиши КОНКРЕТНО какво ТРЯБВА да съдържа техническото предложение за покриване на ТОВА изискване. Бъди ДЕТАЙЛЕН — включи ВСЯКА подточка от изискването.\\n\\n';\np += '### СТЪПКА 3: Какво РЕАЛНО е представил участникът\\n';\np += 'Опиши с ДОСЛОВНИ ЦИТАТИ какво е написал участникът по това изискване. Ако не е адресирано — кажи ясно. Ако е адресирано частично — посочи КОГА (секция/страница) и КАКВО точно е написал.\\n\\n';\np += '### СТЪПКА 4: Конкретни несъответствия и дефицити\\n';\np += 'Това е НАЙ-ВАЖНАТА стъпка. Описвай КОНКРЕТНИ проблеми в следния формат:\\n\\n';\np += '**За числови противоречия:**\\n';\np += '\"В работната програма (стр. X) за дейност [име] участникът е посочил [Y] работника, докато в линейния график (стр. Z) за същата дейност са предвидени [W] работника. Налице е противоречие между двете части на техническото предложение.\"\\n\\n';\np += '**За липсващи елементи:**\\n';\np += '\"Изискването предвижда описание на [X] за ВСЯКА позиция от КСС. Участникът е описал [X] само за позиции [1, 3, 5], без да адресира позиции [2, 4, 6, 7]. Липсва описание за [N] от общо [M] позиции.\"\\n\\n';\np += '**За агрегирани данни:**\\n';\np += '\"В линейния график позиции [1-8] от КСС са обединени в една обща дейност \\\"[Име]\\\" без индивидуална разбивка на продължителността на всяка отделна позиция. Документацията изисква линейният график да показва ВСЯКА дейност поотделно.\"\\n\\n';\np += '**За generic/шаблонен текст:**\\n';\np += '\"Участникът описва [цитат], което е обща формулировка, приложима за всяка поръчка, без конкретна връзка с предмета на настоящата процедура.\"\\n\\n';\np += '**За липса на разпределение:**\\n';\np += '\"Не е представено разпределение на отговорностите по ВИДОВЕ строителни дейности — участникът е описал само обща организационна структура без връзка с конкретните дейности от КСС.\"\\n\\n';\np += '### СТЪПКА 5: Извод\\n';\np += 'Формулирай ПРАВЕН извод:\\n';\np += '- Ако има съществено несъответствие: \"Посочените обстоятелства обосновават извод за несъответствие на техническото предложение с изискването на [секция] от документацията.\"\\n';\np += '- Ако е частично: \"Техническото предложение частично покрива изискването, но са налице конкретни непълноти по отношение на [какво].\"\\n';\np += '- Ако съответства: \"Техническото предложение съответства на изискването.\"\\n\\n';\np += '## СТАТУСИ:\\n';\np += '- COMPLIANT: Покрива ИЗЦЯЛО изискването с всички подточки\\n';\np += '- PARTIALLY_COMPLIANT: Адресирано, но с конкретни непълноти или противоречия\\n';\np += '- NON_COMPLIANT: Съществено несъответствие — липсващи задължителни елементи или вътрешни противоречия\\n';\np += '- MISSING: Изобщо НЕ е адресирано в предложението\\n\\n';\np += '## КРИТИЧНИ ПРАВИЛА:\\n';\np += '- Използвай ДОСЛОВНИ ЦИТАТИ от предложението — с посочване на секция/страница\\n';\np += '- Давай КОНКРЕТНИ числа — \"3 работника\" вместо \"недостатъчен брой\"\\n';\np += '- Посочвай КОНКРЕТНИ позиции — \"позиции 4, 7 и 12 от КСС\" вместо \"някои позиции\"\\n';\np += '- НЕ СЕ ПРОИЗНАСЯЙ по неща извън ТОВА КОНКРЕТНО изискване\\n';\np += '- НЕ измисляй проблеми — ако няма несъответствие, кажи COMPLIANT\\n';\np += '- Бъди ОБЕКТИВЕН — отчитай и добре покритите аспекти\\n\\n';\np += '## ФОРМАТ НА ОТГОВОР\\n';\np += 'Върни САМО валиден JSON (без markdown блокове):\\n';\np += '{\\n';\np += '  \"requirement_id\": \"R1\",\\n';\np += '  \"requirement_title\": \"заглавие\",\\n';\np += '  \"status\": \"COMPLIANT|PARTIALLY_COMPLIANT|NON_COMPLIANT|MISSING\",\\n';\np += '  \"requirement_verbatim\": \"ДОСЛОВЕН текст на изискването от документацията\",\\n';\np += '  \"expected_content\": \"Какво КОНКРЕТНО трябва да съдържа ТП за това изискване\",\\n';\np += '  \"actual_content\": \"Какво РЕАЛНО е представил участникът — с дословни цитати и позовавания\",\\n';\np += '  \"deficiencies\": [\\n';\np += '    {\\n';\np += '      \"type\": \"contradiction|missing_element|aggregated_data|generic_text|incomplete_coverage\",\\n';\np += '      \"description\": \"КОНКРЕТНО описание на проблема със СПЕЦИФИЧНИ числа, страници, позиции\",\\n';\np += '      \"evidence_location_1\": \"Къде в ТП е първото твърдение (секция/страница)\",\\n';\np += '      \"evidence_value_1\": \"Конкретна стойност на първата страна на противоречието\",\\n';\np += '      \"evidence_location_2\": \"Къде в ТП е второто противоречащо твърдение (ако е приложимо)\",\\n';\np += '      \"evidence_value_2\": \"Конкретна стойност на втората страна\",\\n';\np += '      \"severity\": \"CRITICAL|MAJOR|MINOR\"\\n';\np += '    }\\n';\np += '  ],\\n';\np += '  \"sub_requirement_coverage\": [\\n';\np += '    {\\n';\np += '      \"sub_req_id\": \"R1.1\",\\n';\np += '      \"sub_req_text\": \"текст на подизискването\",\\n';\np += '      \"covered\": true,\\n';\np += '      \"notes\": \"конкретни бележки\"\\n';\np += '    }\\n';\np += '  ],\\n';\np += '  \"legal_conclusion\": \"Формален правен извод — 1-2 изречения в стил на протокол за отстраняване\",\\n';\np += '  \"notes\": \"Допълнителни бележки\"\\n';\np += '}';\n\nreturn [{ json: { prompt: p } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Cross-Reference",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "={{ $json.prompt }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are a member of a Bulgarian public procurement evaluation committee preparing a FORMAL FINDING (констатация) about ONE specific requirement, in the structure of a real disqualification protocol.\n\nYou must follow this EXACT structure for every finding:\n1. REQUIREMENT VERBATIM: Quote the exact text of the requirement from the documentation\n2. EXPECTED CONTENT: Describe specifically what the technical proposal MUST contain\n3. ACTUAL CONTENT: Describe with VERBATIM QUOTES what the participant ACTUALLY provided\n4. SPECIFIC DEFICIENCIES: With CONCRETE numbers, page references, position numbers, worker counts\n5. LEGAL CONCLUSION: Formal conclusion about compliance/non-compliance\n\nFOR CONTRADICTIONS — always use the pattern:\n'In [Section A] (page X), the participant states [VALUE_A] for [activity], while in [Section B] (page Y) for the same activity [VALUE_B] is indicated. This constitutes a contradiction between the two parts of the technical proposal.'\n\nFOR MISSING ELEMENTS:\n'The documentation requires [WHAT]. The participant has provided [THIS] but has NOT provided [THAT]. Missing: [N] out of [M] required items.'\n\nFOR AGGREGATED DATA:\n'In the linear schedule, items [1-8] from the bill of quantities are combined into one general activity \"[Name]\" without individual breakdown. The documentation requires each item to be shown individually.'\n\nCRITICAL RULES:\n1. Use VERBATIM QUOTES with section/page references\n2. Give SPECIFIC numbers — '4 workers' not 'insufficient'\n3. Reference SPECIFIC positions — 'items 4, 7, 12 from BoQ' not 'some items'\n4. Do NOT evaluate aspects outside THIS specific requirement\n5. Do NOT invent problems — if compliant, say COMPLIANT\n6. Be OBJECTIVE — note well-covered aspects too\n7. Output ONLY valid JSON, no markdown blocks\nLanguage: Bulgarian for content, English for JSON keys."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 12000,
          "temperature": 0.1
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Finding",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "var raw = ($json.text || $json.response || '').trim();\nvar result;\n\ntry {\n  result = JSON.parse(raw);\n} catch (e) {\n  var m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  var candidate = m ? m[1].trim() : raw;\n  try {\n    var s = candidate.indexOf('{');\n    var e2 = candidate.lastIndexOf('}');\n    var js = candidate.substring(s, e2 + 1).replace(/,\\s*([\\]\\}])/g, '$1');\n    result = JSON.parse(js);\n  } catch (e3) {\n    result = {\n      requirement_id: 'UNKNOWN',\n      status: 'COMPLIANT',\n      analysis: 'Parse error — defaulting to COMPLIANT to avoid false positives',\n      deficiencies: [],\n      score: 70,\n      _parse_error: true\n    };\n  }\n}\n\n// Validate status\nvar validStatuses = ['COMPLIANT', 'PARTIALLY_COMPLIANT', 'NON_COMPLIANT', 'MISSING'];\nif (validStatuses.indexOf(result.status) === -1) {\n  result.status = result.score >= 80 ? 'COMPLIANT' : 'PARTIALLY_COMPLIANT';\n}\n\nreturn [{ json: { finding: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Cross-Reference Prompt", "type": "main", "index": 0 }]] },
    "Prepare Cross-Reference Prompt": { "main": [[{ "node": "Cross-Reference", "type": "main", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Cross-Reference", "type": "ai_languageModel", "index": 0 }]] },
    "Cross-Reference": { "main": [[{ "node": "Parse Finding", "type": "main", "index": 0 }]] },
    "Parse Finding": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
