n8n/workflows/24-legal-validation.json
{
  "name": "Eval - Legal Validation",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-legal-validation",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-legal-validation",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Legal Prompt",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar findings = body.findings || [];\nvar requirements = body.requirements || {};\nvar procurementInfo = body.procurementInfo || {};\n\n// Filter only non-compliant findings for legal review\nvar nonCompliant = findings.filter(function(f) {\n  return f.status !== 'COMPLIANT';\n});\n\nvar procStr = JSON.stringify(procurementInfo, null, 2).substring(0, 3000);\nvar reqStr = JSON.stringify(requirements, null, 2).substring(0, 20000);\nvar findingsStr = JSON.stringify(nonCompliant, null, 2).substring(0, 40000);\n\nvar p = 'Ти си юрист-експерт по обществени поръчки. Задачата ти е да преобразуваш техническите констатации във ФОРМАЛНИ ПРАВНИ МОТИВИ ЗА ОТСТРАНЯВАНЕ по модела на реални протоколи на оценителни комисии.\\n\\n';\np += '## ДАННИ ЗА ПОРЪЧКАТА:\\n' + procStr + '\\n\\n';\np += '## ИЗИСКВАНИЯ ОТ ДОКУМЕНТАЦИЯТА:\\n' + reqStr + '\\n\\n';\np += '## КОНСТАТАЦИИ ЗА НЕСЪОТВЕТСТВИЯ (' + nonCompliant.length + ' бр.):\\n' + findingsStr + '\\n\\n';\np += '## ЗАДАЧА\\n';\np += 'Трансформирай всяка констатация в ФОРМАЛЕН ПРАВЕН МОТИВ, следвайки структурата на реален протокол за отстраняване от процедура по ЗОП.\\n\\n';\np += '## СТРУКТУРА НА ПРАВЕН МОТИВ (ЗА ВСЯКА КОНСТАТАЦИЯ):\\n\\n';\np += '### 1. Изискване на възложителя\\n';\np += '\"Съгласно [точна секция] от документацията за участие, участниците са длъжни да представят [дословен текст на изискването].\"\\n\\n';\np += '### 2. Констатирано несъответствие\\n';\np += '\"При проверка на техническото предложение на участника е констатирано следното: [описание на конкретното несъответствие с ДОСЛОВНИ ЦИТАТИ и конкретни числа/позиции]\"\\n\\n';\np += '### 3. Правен извод\\n';\np += '\"Посочените обстоятелства обосновават извод за несъответствие на техническото предложение с изискванията на [секция] от документацията, което представлява основание за отстраняване по чл. 107, т. 2, буква \\'а\\' от ЗОП — офертата на участника не отговаря на предварително обявените условия на поръчката.\"\\n\\n';\np += 'ИЛИ при по-леки несъответствия:\\n';\np += '\"Констатираните непълноти не представляват самостоятелно основание за отстраняване, но обосновават по-ниска оценка по показател [X] от методиката за оценка.\"\\n\\n';\np += '## КАТЕГОРИЗАЦИЯ НА ВСЕКИ МОТИВ:\\n';\np += '- **DISQUALIFY**: Ясно и безспорно нарушение на ЗАДЪЛЖИТЕЛНО изискване. Техническото предложение не отговаря на условията — основание по чл. 107, т. 2, буква \\'а\\' ЗОП.\\n';\np += '- **REDUCE_POINTS**: Непълноти, които не са основание за отстраняване, но водят до по-ниска оценка по съответния показател.\\n';\np += '- **REQUEST_CLARIFICATION**: Неясноти, които могат да бъдат изяснени по чл. 104, ал. 5 ЗОП.\\n';\np += '- **NO_VIOLATION**: Констатацията не се потвърждава при правен анализ.\\n\\n';\np += '## ГРУПИРАНЕ НА МОТИВИТЕ\\n';\np += 'В края ГРУПИРАЙ всички мотиви в ОБОБЩЕН ИЗВОД:\\n';\np += '\"На основание гореизложеното, комисията констатира следните несъответствия на техническото предложение: [N] нарушения на задължителни изисквания, [M] непълноти, водещи до намалена оценка. Посочените обстоятелства в тяхната съвкупност обосновават извод за [отстраняване/допускане с бележки] на участника.\"\\n\\n';\np += '## КРИТИЧНИ ПРАВИЛА:\\n';\np += '- Използвай ТОЧНИ правни норми — чл. 107, т. 2, буква \\'а\\' от ЗОП (не т. 1, не ал. 1)\\n';\np += '- чл. 107, т. 2, буква \\'а\\' = \"офертата на участника не отговаря на предварително обявените условия на поръчката\"\\n';\np += '- Всяко твърдение подкрепяй с КОНКРЕТНИ факти от констатациите\\n';\np += '- НЕ добавяй мотиви извън предоставените констатации\\n';\np += '- Бъди КОНСЕРВАТИВЕН — отстраняване САМО при ясни и безспорни нарушения на задължителни изисквания\\n';\np += '- Отчитай принципа на СЪРАЗМЕРНОСТ — дребни дефекти ≠ отстраняване\\n';\np += '- Разграничавай ФОРМАЛНА НЕРЕДОВНОСТ (може да се отстрани) от СЪЩЕСТВЕНО НЕСЪОТВЕТСТВИЕ (основание за отстраняване)\\n\\n';\np += '## ФОРМАТ\\n';\np += 'Върни САМО валиден JSON:\\n';\np += '{\\n';\np += '  \"legal_motives\": [\\n';\np += '    {\\n';\np += '      \"requirement_id\": \"R1\",\\n';\np += '      \"motive_text\": \"ПЪЛЕН ТЕКСТ на правния мотив — готов за вписване в протокол (3-5 изречения)\",\\n';\np += '      \"legal_basis\": \"чл. 107, т. 2, буква \\'а\\' от ЗОП\",\\n';\np += '      \"recommendation\": \"DISQUALIFY|REDUCE_POINTS|REQUEST_CLARIFICATION|NO_VIOLATION\",\\n';\np += '      \"confidence\": \"HIGH|MEDIUM|LOW\",\\n';\np += '      \"severity\": \"CRITICAL|MAJOR|MINOR\",\\n';\np += '      \"kzk_risk_assessment\": \"Кратка оценка на риска при обжалване пред КЗК\"\\n';\np += '    }\\n';\np += '  ],\\n';\np += '  \"overall_conclusion\": {\\n';\np += '    \"action\": \"DISQUALIFY|ACCEPT_WITH_REMARKS|ACCEPT\",\\n';\np += '    \"disqualification_grounds_count\": 0,\\n';\np += '    \"summary_motive\": \"ОБОБЩЕН ПРАВЕН ИЗВОД — готов за вписване в протокол (2-3 изречения)\",\\n';\np += '    \"legal_basis\": \"чл. 107, т. 2, буква \\'а\\' от ЗОП\"\\n';\np += '  },\\n';\np += '  \"procedural_notes\": [\"Процедурни бележки за комисията\"]\\n';\np += '}';\n\nreturn [{ json: { prompt: p, nonCompliantCount: nonCompliant.length } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Legal Validation",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "={{ $json.prompt }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are a senior legal expert on a Bulgarian public procurement evaluation committee. Your task is to transform technical findings into FORMAL LEGAL MOTIVES FOR DISQUALIFICATION following the structure of real disqualification protocols.\n\nYou produce text that is READY TO BE INSERTED INTO AN OFFICIAL PROTOCOL of the evaluation committee.\n\nLEGAL FRAMEWORK:\n- Art. 107, item 2, letter 'a' of the Public Procurement Act (ЗОП): 'The tender of the participant does not comply with the pre-announced conditions of the procurement' — this is the PRIMARY basis for disqualification due to technical proposal deficiencies\n- Art. 104, para. 5 ЗОП: Right to request clarification\n- Art. 104, para. 7 ЗОП: Right to allow correction of irregularities\n- IMPORTANT: Use 'чл. 107, т. 2, буква а от ЗОП' NOT 'ал. 1' or 'ал. 2'\n\nSTRUCTURE OF EACH LEGAL MOTIVE:\n1. 'Съгласно [section] от документацията, участникът е длъжен да...' (state requirement)\n2. 'При проверка на техническото предложение е констатирано...' (state factual finding)\n3. 'Посочените обстоятелства обосновават извод за несъответствие...' (legal conclusion)\n\nCRITICAL RULES:\n1. Be CONSERVATIVE — recommend disqualification ONLY for clear violations of MANDATORY requirements\n2. Use CORRECT legal citations — чл. 107, т. 2, буква 'а' от ЗОП\n3. NEVER invent legal norms — use only real provisions of ЗОП/ППЗОП\n4. Every motive must withstand appeal before КЗК\n5. Distinguish FORMAL irregularities (fixable) from SUBSTANTIVE violations (disqualifying)\n6. Consider PROPORTIONALITY — minor defects ≠ disqualification\n7. Support every claim with SPECIFIC facts from the findings\n8. Do NOT add motives beyond what the findings support\n9. Output ONLY valid JSON, no markdown blocks\nLanguage: Bulgarian for content, English for JSON keys."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Opus",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-opus-4",
        "options": {
          "maxTokens": 16000,
          "temperature": 0.1
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Legal Result",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "var raw = ($json.text || $json.response || '').trim();\n\n// Handle error from chainLlm\nif ($json.error || $json.errorMessage || (!raw && $input.first().json.error)) {\n  return [{ json: {\n    legalValidation: {\n      legal_motives: [],\n      overall_conclusion: {\n        action: 'ACCEPT_WITH_REMARKS',\n        disqualification_grounds_count: 0,\n        summary_motive: 'Legal validation AI error — manual review required'\n      },\n      procedural_notes: ['AI legal validator encountered an error. All findings require manual legal review.']\n    }\n  } }];\n}\n\nvar result;\ntry {\n  result = JSON.parse(raw);\n} catch (e) {\n  var m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  var candidate = m ? m[1].trim() : raw;\n  try {\n    var s = candidate.indexOf('{');\n    var e2 = candidate.lastIndexOf('}');\n    var js = candidate.substring(s, e2 + 1).replace(/,\\s*([\\]\\}])/g, '$1');\n    result = JSON.parse(js);\n  } catch (e3) {\n    result = {\n      legal_motives: [],\n      overall_conclusion: {\n        action: 'ACCEPT_WITH_REMARKS',\n        disqualification_grounds_count: 0,\n        summary_motive: 'Parse error — manual review required'\n      },\n      procedural_notes: ['JSON parse failed. Raw AI response needs manual review.']\n    };\n  }\n}\n\nreturn [{ json: { legalValidation: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Legal Prompt", "type": "main", "index": 0 }]] },
    "Prepare Legal Prompt": { "main": [[{ "node": "Legal Validation", "type": "main", "index": 0 }]] },
    "Claude Opus": { "ai_languageModel": [[{ "node": "Legal Validation", "type": "ai_languageModel", "index": 0 }]] },
    "Legal Validation": { "main": [[{ "node": "Parse Legal Result", "type": "main", "index": 0 }]] },
    "Parse Legal Result": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
