n8n/workflows/24-legal-validation.json
{
  "name": "Eval - Legal Validation",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-legal-validation",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-legal-validation",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Legal Prompt",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar findings = body.findings || [];\nvar requirements = body.requirements || {};\nvar procurementInfo = body.procurementInfo || {};\n\n// Filter only non-compliant findings for legal review\nvar nonCompliant = findings.filter(function(f) {\n  return f.status !== 'COMPLIANT';\n});\n\nvar procStr = JSON.stringify(procurementInfo, null, 2).substring(0, 3000);\nvar reqStr = JSON.stringify(requirements, null, 2).substring(0, 20000);\nvar findingsStr = JSON.stringify(nonCompliant, null, 2).substring(0, 40000);\n\nvar p = 'Ти си юрист-експерт по обществени поръчки в България с дълбоки познания по ЗОП, ППЗОП, и практиката на КЗК и ВАС.\\n\\n';\np += '## ЗАДАЧА\\n';\np += 'Прегледай констатациите от проверка на техническо предложение и ги валидирай юридически.\\n\\n';\np += '## ДАННИ ЗА ПОРЪЧКАТА:\\n' + procStr + '\\n\\n';\np += '## ИЗИСКВАНИЯ ОТ ДОКУМЕНТАЦИЯТА:\\n' + reqStr + '\\n\\n';\np += '## КОНСТАТАЦИИ ЗА НЕСЪОТВЕТСТВИЯ (' + nonCompliant.length + ' бр.):\\n' + findingsStr + '\\n\\n';\np += '## ЗА ВСЯКА КОНСТАТАЦИЯ ОПРЕДЕЛИ:\\n\\n';\np += '### 1. ПРАВНО ОСНОВАНИЕ\\n';\np += '- Кой конкретен текст от документацията е нарушен\\n';\np += '- Приложими членове от ЗОП (особено чл. 107, ал. 1 и ал. 2)\\n';\np += '- Приложими текстове от ППЗОП\\n';\np += '- Съответна практика на КЗК ако е релевантна\\n\\n';\np += '### 2. КВАЛИФИКАЦИЯ\\n';\np += '- Задължително изискване ли е (води до отстраняване)?\\n';\np += '- Или оценяемо (води до по-ниски точки)?\\n';\np += '- Може ли да се поиска разяснение по чл. 104, ал. 5 ЗОП?\\n';\np += '- Има ли право на отстраняване на нередовности по чл. 104, ал. 7 ЗОП?\\n\\n';\np += '### 3. РИСК ОТ ОБЖАЛВАНЕ ПРЕД КЗК\\n';\np += '- Каква е вероятността за успешно обжалване от кандидата?\\n';\np += '- Какви аргументи може да използва кандидатът?\\n';\np += '- Какви контрааргументи има комисията?\\n\\n';\np += '### 4. ПРЕПОРЪКА\\n';\np += '- DISQUALIFY: Ясно и безспорно нарушение — достатъчно за отстраняване\\n';\np += '- REQUEST_CLARIFICATION: Изискване на разяснения по чл. 104, ал. 5 ЗОП\\n';\np += '- REDUCE_POINTS: Непълно покритие на оценяем критерий\\n';\np += '- NO_VIOLATION: Констатацията НЕ е достатъчно силна юридически\\n\\n';\np += '## КРИТИЧНИ ПРАВИЛА\\n';\np += '- Бъди КОНСЕРВАТИВЕН — препоръчвай отстраняване САМО при ясно и безспорно нарушение\\n';\np += '- Посочвай КОНКРЕТНИ членове и алинеи от ЗОП/ППЗОП\\n';\np += '- НЕ измисляй правни норми — САМО реални текстове от ЗОП/ППЗОП\\n';\np += '- При съмнение — препоръчай запитване, НЕ отстраняване\\n';\np += '- Всяко заключение трябва да устои на обжалване пред КЗК\\n';\np += '- Разграничавай между формална нередовност и съществено нарушение\\n\\n';\np += '## ФОРМАТ\\n';\np += 'Върни САМО валиден JSON:\\n';\np += '{\\n';\np += '  \"validated_findings\": [\\n';\np += '    {\\n';\np += '      \"requirement_id\": \"R1\",\\n';\np += '      \"original_status\": \"NON_COMPLIANT\",\\n';\np += '      \"legal_assessment\": {\\n';\np += '        \"is_ground_for_disqualification\": true,\\n';\np += '        \"legal_basis\": [\"чл. X, ал. Y от ЗОП\", \"т. Z от документацията\"],\\n';\np += '        \"violation_type\": \"MANDATORY_REQUIREMENT|EVALUATION_CRITERIA|FORMAL_DEFECT\",\\n';\np += '        \"confidence\": \"HIGH|MEDIUM|LOW\",\\n';\np += '        \"kzk_appeal_risk\": \"LOW|MEDIUM|HIGH\",\\n';\np += '        \"recommendation\": \"DISQUALIFY|REQUEST_CLARIFICATION|REDUCE_POINTS|NO_VIOLATION\",\\n';\np += '        \"reasoning\": \"Подробна юридическа обосновка\"\\n';\np += '      }\\n';\np += '    }\\n';\np += '  ],\\n';\np += '  \"overall_recommendation\": {\\n';\np += '    \"action\": \"DISQUALIFY|ACCEPT_WITH_REMARKS|ACCEPT\",\\n';\np += '    \"disqualification_grounds_count\": 0,\\n';\np += '    \"high_confidence_grounds\": 0,\\n';\np += '    \"summary\": \"Обобщение на правния анализ\"\\n';\np += '  },\\n';\np += '  \"procedural_notes\": [\"Процедурни бележки и препоръки за комисията\"]\\n';\np += '}';\n\nreturn [{ json: { prompt: p, nonCompliantCount: nonCompliant.length } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Legal Validation",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "={{ $json.prompt }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are a senior legal expert specializing in Bulgarian public procurement law (ЗОП — Закон за обществените поръчки, ППЗОП — Правилник за прилагане на ЗОП). You have deep knowledge of КЗК (Commission for Protection of Competition) and ВАС (Supreme Administrative Court) case law.\n\nFOCUS: You are validating findings ONLY about the TECHNICAL PROPOSAL (работна програма, начин на изпълнение, методология, екип, оборудване, график). NOT about ESPD, price proposals, selection criteria, or administrative documents.\n\nCRITICAL RULES:\n1. Be CONSERVATIVE — recommend disqualification ONLY for clear, indisputable TECHNICAL violations\n2. Cite SPECIFIC articles and paragraphs from ЗОП/ППЗОП — NEVER invent legal norms\n3. When in doubt, recommend requesting clarification (чл. 104, ал. 5 ЗОП) rather than disqualification\n4. Every conclusion must withstand appeal before КЗК\n5. Distinguish between formal irregularities (fixable) and substantive technical violations (disqualifying)\n6. Consider proportionality — minor technical defects should not lead to disqualification\n7. Art. 107, para. 1 ЗОП — mandatory grounds for rejection (e.g. proposal does not meet minimum technical requirements)\n8. Art. 107, para. 2 ЗОП — discretionary grounds for rejection\n9. Art. 104, para. 5 ЗОП — right to request clarification\n10. Art. 104, para. 7 ЗОП — right to allow correction of irregularities\n11. Generic/superficial technical descriptions may warrant lower scores but NOT necessarily disqualification\n12. Output ONLY valid JSON, no markdown blocks\nLanguage: Bulgarian for content, English for JSON keys."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Opus",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-opus-4",
        "options": {
          "maxTokens": 16000,
          "temperature": 0.1
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse",
      "name": "Parse Legal Result",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "var raw = ($json.text || $json.response || '').trim();\n\n// Handle error from chainLlm\nif ($json.error || $json.errorMessage || (!raw && $input.first().json.error)) {\n  return [{ json: {\n    legalValidation: {\n      validated_findings: [],\n      overall_recommendation: {\n        action: 'ACCEPT_WITH_REMARKS',\n        disqualification_grounds_count: 0,\n        summary: 'Legal validation AI error — manual review required'\n      },\n      procedural_notes: ['AI legal validator encountered an error. All findings require manual legal review.']\n    }\n  } }];\n}\n\nvar result;\ntry {\n  result = JSON.parse(raw);\n} catch (e) {\n  var m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  var candidate = m ? m[1].trim() : raw;\n  try {\n    var s = candidate.indexOf('{');\n    var e2 = candidate.lastIndexOf('}');\n    var js = candidate.substring(s, e2 + 1).replace(/,\\s*([\\]\\}])/g, '$1');\n    result = JSON.parse(js);\n  } catch (e3) {\n    result = {\n      validated_findings: [],\n      overall_recommendation: {\n        action: 'ACCEPT_WITH_REMARKS',\n        disqualification_grounds_count: 0,\n        summary: 'Parse error — manual review required'\n      },\n      procedural_notes: ['JSON parse failed. Raw AI response needs manual review.']\n    };\n  }\n}\n\nreturn [{ json: { legalValidation: result } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Legal Prompt", "type": "main", "index": 0 }]] },
    "Prepare Legal Prompt": { "main": [[{ "node": "Legal Validation", "type": "main", "index": 0 }]] },
    "Claude Opus": { "ai_languageModel": [[{ "node": "Legal Validation", "type": "ai_languageModel", "index": 0 }]] },
    "Legal Validation": { "main": [[{ "node": "Parse Legal Result", "type": "main", "index": 0 }]] },
    "Parse Legal Result": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
