n8n/workflows/25-generate-eval-report.json
{
  "name": "Eval - Generate Report",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-generate-report",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-generate-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Report Prompt",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar findings = body.findings || [];\nvar legalValidation = body.legalValidation || {};\nvar requirements = body.requirements || {};\nvar proposalAnalysis = body.proposalAnalysis || {};\nvar procurementInfo = body.procurementInfo || {};\n\nvar procStr = JSON.stringify(procurementInfo, null, 2).substring(0, 3000);\nvar reqStr = JSON.stringify(requirements, null, 2).substring(0, 20000);\nvar findingsStr = JSON.stringify(findings, null, 2).substring(0, 30000);\nvar legalStr = JSON.stringify(legalValidation, null, 2).substring(0, 20000);\nvar proposalStr = JSON.stringify(proposalAnalysis, null, 2).substring(0, 15000);\n\n// Count stats\nvar compliant = 0, partial = 0, nonCompliant = 0, missing = 0;\nfor (var i = 0; i < findings.length; i++) {\n  var s = findings[i].status;\n  if (s === 'COMPLIANT') compliant++;\n  else if (s === 'PARTIALLY_COMPLIANT') partial++;\n  else if (s === 'NON_COMPLIANT') nonCompliant++;\n  else if (s === 'MISSING') missing++;\n}\n\nvar overallRec = (legalValidation.overall_recommendation || {}).action || 'НЕПОСОЧЕНО';\n\nvar p = 'Ти си секретар на комисия по обществена поръчка. Изготви МНОГО ПОДРОБЕН ПРОТОКОЛ от проверка на ТЕХНИЧЕСКОТО предложение.\\n\\n';\np += '## ИЗКЛЮЧИТЕЛНО ВАЖНО — ОБЕМ НА ПРОТОКОЛА\\n';\np += 'Протоколът ТРЯБВА да е между 5 и 10 страници (приблизително 2500-5000 думи).\\n';\np += 'Това е ЗАДЪЛЖИТЕЛНО изискване. Ако протоколът е по-кратък от 5 страници, добави ПОВЕЧЕ детайли:\\n';\np += '- По-подробни цитати (дословни) от документацията И от предложението\\n';\np += '- По-задълбочен анализ на всяко несъответствие\\n';\np += '- По-обстойна правна обосновка\\n';\np += '- Детайлен анализ на рисковете при обжалване\\n\\n';\np += '## ФОКУС: САМО ТЕХНИЧЕСКА ЧАСТ\\n';\np += 'Протоколът е САМО за техническото предложение (работна програма, начин на изпълнение, методология, организация, екип, оборудване, график, качество, безопасност).\\n';\np += 'НЕ споменавай: ЕЕДОП, ценово предложение, критерии за подбор, административни документи, финансова информация.\\n\\n';\np += '## ДАННИ ЗА ПОРЪЧКАТА:\\n' + procStr + '\\n\\n';\np += '## СТАТИСТИКА:\\n';\np += '- Общо проверени ТЕХНИЧЕСКИ изисквания: ' + findings.length + '\\n';\np += '- Съответстващи (COMPLIANT): ' + compliant + '\\n';\np += '- Частично съответстващи (PARTIALLY_COMPLIANT): ' + partial + '\\n';\np += '- Несъответстващи (NON_COMPLIANT): ' + nonCompliant + '\\n';\np += '- Липсващи (MISSING): ' + missing + '\\n';\np += '- Обща препоръка от юридическия анализ: ' + overallRec + '\\n\\n';\np += '## ИЗВЛЕЧЕНИ ТЕХНИЧЕСКИ ИЗИСКВАНИЯ:\\n' + reqStr + '\\n\\n';\np += '## АНАЛИЗ НА ТЕХНИЧЕСКОТО ПРЕДЛОЖЕНИЕ:\\n' + proposalStr + '\\n\\n';\np += '## РЕЗУЛТАТИ ОТ КРЪСТОСАНА ПРОВЕРКА:\\n' + findingsStr + '\\n\\n';\np += '## ЮРИДИЧЕСКА ВАЛИДАЦИЯ:\\n' + legalStr + '\\n\\n';\np += '## СТРУКТУРА НА ПРОТОКОЛА (Markdown):\\n\\n';\np += '# ПРОТОКОЛ\\n';\np += '## от проверка на техническо предложение\\n';\np += '## по обществена поръчка с предмет: [от данните]\\n\\n';\np += '### I. Обща информация\\n';\np += '- Предмет на поръчката\\n';\np += '- Възложител\\n';\np += '- Кандидат (ако е известен)\\n';\np += '- Дата на проверката (днешна дата)\\n';\np += '- Обхват: проверка на ТЕХНИЧЕСКОТО ПРЕДЛОЖЕНИЕ\\n\\n';\np += '### II. Обхват на проверката\\n';\np += '- Общо проверени технически изисквания\\n';\np += '- Кратко описание на методологията на проверката\\n';\np += '- Какво се проверява (работна програма, методология, екип, оборудване, график и т.н.)\\n\\n';\np += '### III. Обобщена таблица на резултатите\\n';\np += '| № | Техническо изискване | Тип | Статус | Оценка | Препоръка |\\n';\np += '|---|---------------------|-----|--------|--------|-----------|\\n';\np += '(за ВСЯКО ТЕХНИЧЕСКО изискване — кратък ред)\\n\\n';\np += '### IV. Подробен анализ на техническите изисквания\\n';\np += 'Това е НАЙ-ВАЖНАТА и НАЙ-ДЪЛГАТА секция (3-6 страници!)\\n\\n';\np += 'За ВСЯКО изискване (включително COMPLIANT):\\n';\np += '#### [N]. [Заглавие на изискването] — [СТАТУС]\\n';\np += '**Изискване от документацията**: [ДОСЛОВЕН цитат — пълен текст]\\n';\np += '**В техническото предложение на кандидата**: [ДОСЛОВЕН цитат от предложението / или \"НЕ Е АДРЕСИРАНО\"]\\n';\np += '**Анализ**: [Подробен анализ — 3-5 изречения за PARTIALLY/NON_COMPLIANT, 1-2 за COMPLIANT]\\n';\np += '**Недостатъци** (ако има): [списък с конкретни пропуски]\\n';\np += '**Препоръка**: [ОТСТРАНЯВАНЕ / ЗАПИТВАНЕ ЗА РАЗЯСНЕНИЕ / НАМАЛЕНИ ТОЧКИ / СЪОТВЕТСТВА]\\n\\n';\np += '### V. Правна обосновка\\n';\np += '- Подробна юридическа аргументация за всяко основание за отстраняване\\n';\np += '- Конкретни членове и алинеи от ЗОП/ППЗОП\\n';\np += '- Позоваване на чл. 107, ал. 1 и ал. 2 от ЗОП (ако е приложимо)\\n';\np += '- Разграничение между формални нередовности и същностни несъответствия\\n\\n';\np += '### VI. Заключение и препоръка\\n';\np += '**ПРЕПОРЪКА**: [ясна, еднозначна — ОТСТРАНЯВАНЕ / ДОПУСКАНЕ С БЕЛЕЖКИ / ДОПУСКАНЕ]\\n';\np += 'Мотиви: [подробно обобщение с конкретни аргументи]\\n\\n';\np += '### VII. Рискове при обжалване пред КЗК\\n';\np += '- Детайлна оценка на рисковете за ВСЯКО основание за отстраняване\\n';\np += '- Възможни аргументи на кандидата\\n';\np += '- Контрааргументи на комисията\\n';\np += '- Препоръки за минимизиране на рисковете\\n\\n';\np += '---\\n';\np += '*Забележка: Настоящият протокол е подготвен с помощта на AI анализ и подлежи на потвърждение от оценителната комисия.*\\n\\n';\np += '## КРИТИЧНИ ПРАВИЛА:\\n';\np += '- Протоколът ТРЯБВА да е 5-10 страници (2500-5000 думи)\\n';\np += '- ФОКУС САМО върху техническото предложение — НЕ споменавай ЕЕДОП, цена, подбор\\n';\np += '- Цитирай ДОСЛОВНО от данните — не перифразирай\\n';\np += '- Всяко заключение трябва да има КОНКРЕТНО правно основание\\n';\np += '- Бъди обективен и балансиран\\n';\np += '- Не добавяй констатации извън предоставените данни\\n';\np += '- Протоколът трябва да е годен за официална употреба\\n';\np += '- Пиши на правилен и формален български език';\n\nreturn [{ json: { prompt: p } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Generate Report",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "={{ $json.prompt }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are a secretary of a public procurement evaluation committee in Bulgaria. You generate formal and VERY DETAILED evaluation PROTOCOLS (протоколи) for reviewing the TECHNICAL PART of proposals.\n\nREPORT LENGTH: The protocol MUST be between 5 and 10 pages (approximately 2500-5000 words). This is a HARD REQUIREMENT.\n\nFOCUS: ONLY the technical proposal (work program, methodology, execution plan, team, equipment, timeline, quality, safety). Do NOT mention ESPD, price proposals, selection criteria, or administrative documents.\n\nHOW TO ACHIEVE 5-10 PAGES:\n- Section IV (Detailed Analysis) must be VERY extensive — dedicate 1-2 paragraphs per requirement\n- For non-compliant findings: provide full citations, detailed explanation of the gap, and consequences\n- For compliant findings: briefly confirm compliance with key evidence\n- For partially compliant: explain what is adequate AND what is missing\n- Include verbatim quotes from both the documentation and the proposal\n- The summary table must include ALL requirements\n- Legal basis section must be thorough with specific ЗОП articles\n- Appeal risk section must analyze each disqualification ground separately\n\nCRITICAL RULES:\n1. Write in formal Bulgarian legal language\n2. EVERY conclusion must have a specific legal basis (ЗОП/ППЗОП articles)\n3. Quote VERBATIM from the provided data — do not paraphrase or invent\n4. Be objective and balanced — note both compliant and non-compliant findings\n5. The protocol must be suitable for official use in real procurement proceedings\n6. Include the summary table with ALL requirements (not just non-compliant)\n7. For non-compliant findings, provide EXTENSIVE analysis with exact citations\n8. Do NOT add findings or conclusions beyond what the data supports\n9. Output ONLY the Markdown protocol text, no JSON wrappers\nLanguage: Bulgarian."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 32000,
          "temperature": 0.2
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "format",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "var raw = ($json.text || $json.response || '').trim();\n\n// If the response is wrapped in json/markdown blocks, extract\nvar reportText = raw;\nvar m = raw.match(/```(?:markdown)?\\s*([\\s\\S]*?)```/);\nif (m) reportText = m[1].trim();\n\n// Basic cleanup\nif (!reportText || reportText.length < 100) {\n  reportText = '# ПРОТОКОЛ\\n\\nГрешка при генериране на протокола. Моля, прегледайте данните ръчно.\\n';\n}\n\nreturn [{ json: { reportText: reportText } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Report Prompt", "type": "main", "index": 0 }]] },
    "Prepare Report Prompt": { "main": [[{ "node": "Generate Report", "type": "main", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Generate Report", "type": "ai_languageModel", "index": 0 }]] },
    "Generate Report": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] },
    "Format Output": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
