n8n/workflows/25-generate-eval-report.json
{
  "name": "Eval - Generate Report",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "webhookId": "eval-generate-report",
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-generate-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prep",
      "name": "Prepare Report Prompt",
      "type": "n8n-nodes-base.code",
      "position": [260, 300],
      "parameters": {
        "jsCode": "var body = $json.body || $json;\nvar findings = body.findings || [];\nvar legalValidation = body.legalValidation || {};\nvar requirements = body.requirements || {};\nvar proposalAnalysis = body.proposalAnalysis || {};\nvar procurementInfo = body.procurementInfo || {};\n\nvar procStr = JSON.stringify(procurementInfo, null, 2).substring(0, 3000);\nvar reqStr = JSON.stringify(requirements, null, 2).substring(0, 20000);\nvar findingsStr = JSON.stringify(findings, null, 2).substring(0, 30000);\nvar legalStr = JSON.stringify(legalValidation, null, 2).substring(0, 20000);\nvar proposalStr = JSON.stringify(proposalAnalysis, null, 2).substring(0, 15000);\n\n// Count stats\nvar compliant = 0, partial = 0, nonCompliant = 0, missing = 0;\nfor (var i = 0; i < findings.length; i++) {\n  var s = findings[i].status;\n  if (s === 'COMPLIANT') compliant++;\n  else if (s === 'PARTIALLY_COMPLIANT') partial++;\n  else if (s === 'NON_COMPLIANT') nonCompliant++;\n  else if (s === 'MISSING') missing++;\n}\n\nvar overallRec = (legalValidation.overall_conclusion || {}).action || 'НЕПОСОЧЕНО';\n\nvar p = 'Ти си секретар на оценителна комисия по обществена поръчка. Изготвяш ПРОТОКОЛ С МОТИВИ ЗА ОТСТРАНЯВАНЕ по модела на реални протоколи от българската практика.\\n\\n';\np += '## ДАННИ ЗА ПОРЪЧКАТА:\\n' + procStr + '\\n\\n';\np += '## СТАТИСТИКА:\\n';\np += '- Общо проверени технически изисквания: ' + findings.length + '\\n';\np += '- Съответстващи: ' + compliant + '\\n';\np += '- Частично съответстващи: ' + partial + '\\n';\np += '- Несъответстващи: ' + nonCompliant + '\\n';\np += '- Липсващи: ' + missing + '\\n';\np += '- Обща препоръка: ' + overallRec + '\\n\\n';\np += '## ИЗВЛЕЧЕНИ ИЗИСКВАНИЯ:\\n' + reqStr + '\\n\\n';\np += '## АНАЛИЗ НА ПРЕДЛОЖЕНИЕТО (вътрешни противоречия, липси, агрегирани данни):\\n' + proposalStr + '\\n\\n';\np += '## КОНСТАТАЦИИ ПО ВСЯКО ИЗИСКВАНЕ:\\n' + findingsStr + '\\n\\n';\np += '## ПРАВНИ МОТИВИ:\\n' + legalStr + '\\n\\n';\np += '## СТРУКТУРА НА ПРОТОКОЛА — СЛЕДВАЙ ТАЗИ ТОЧНА СТРУКТУРА:\\n\\n';\np += '# МОТИВИ\\n';\np += '## за несъответствие на техническото предложение с изискванията на документацията\\n\\n';\np += '**Обществена поръчка**: [предмет от данните]\\n';\np += '**Възложител**: [от данните]\\n';\np += '**Участник**: [от данните или \"Участникът\"]\\n\\n';\np += '---\\n\\n';\np += 'Започни с ВЪВЕЖДАЩ ПАРАГРАФ в следния стил:\\n';\np += '\"Техническо предложение: Офертата на участника в частта на техническото предложение, представен в Плик № 2 (или аналогично), съдържа [кратко описание на структурата]. При проверката на техническото предложение на участника за съответствие с изискванията на документацията, комисията констатира следните несъответствия:\"\\n\\n';\np += '---\\n\\n';\np += '## ОСНОВНА ЧАСТ — ТОЧКА ПО ТОЧКА\\n\\n';\np += 'За ВСЯКО изискване, което има статус PARTIALLY_COMPLIANT, NON_COMPLIANT или MISSING, изготви ОТДЕЛНА ТОЧКА в следната структура:\\n\\n';\np += '### Точка [N]: [Заглавие на изискването]\\n\\n';\np += '**Изискване на възложителя:**\\n';\np += '\"Съгласно [секция] от документацията за участие, участникът е длъжен да представи [ДОСЛОВЕН цитат на изискването].\"\\n\\n';\np += '**Очаквано съдържание:**\\n';\np += 'Описание на КОНКРЕТНИТЕ елементи, които ТП трябва да съдържа за покриване на изискването — включително всичките подточки.\\n\\n';\np += '**Представено от участника:**\\n';\np += 'Описание на КАКВО РЕАЛНО е представил участникът — с ДОСЛОВНИ ЦИТАТИ и позовавания на секции/страници.\\n\\n';\np += '**Констатирани несъответствия:**\\n\\n';\np += 'За ВСЯКО несъответствие — КОНКРЕТЕН параграф в следния стил:\\n\\n';\np += '1. **Противоречия между части на предложението:**\\n';\np += '\"В работната програма (стр. X) за дейност [име] участникът е посочил [Y] работника, докато в линейния график (стр. Z) за същата дейност са предвидени [W] работника. Налице е несъответствие между двете части на техническото предложение.\"\\n\\n';\np += '2. **Липсващи елементи:**\\n';\np += '\"Изискването предвижда описание на [X] за всяка позиция от КСС. Участникът е описал [X] за позиции [списък], без да адресира позиции [списък]. Не е представено описание за [N] от общо [M] позиции.\"\\n\\n';\np += '3. **Агрегирани данни:**\\n';\np += '\"В линейния график позиции [X-Y] от КСС са обединени в една обща дейност \\\"[Име]\\\" без индивидуална разбивка. Документацията изисква всяка позиция да бъде представена поотделно.\"\\n\\n';\np += '4. **Липса на конкретика:**\\n';\np += '\"Не е представено разпределение на отговорностите по видове строителни дейности. Участникът е представил обща организационна структура без конкретна връзка с дейностите по КСС.\"\\n\\n';\np += '**Извод по точка [N]:**\\n';\np += '\"Посочените обстоятелства обосновават извод за несъответствие на техническото предложение с изискването на [секция] от документацията.\"\\n\\n';\np += '---\\n\\n';\np += '## ОБОБЩЕНИ МОТИВИ ЗА ОТСТРАНЯВАНЕ\\n\\n';\np += 'След индивидуалните точки — ОБОБЩЕН ИЗВОД:\\n\\n';\np += '\"На основание гореизложеното, комисията констатира, че техническото предложение на участника съдържа следните несъответствия с изискванията на документацията:\\n';\np += '1. [Кратко описание на несъответствие 1]\\n';\np += '2. [Кратко описание на несъответствие 2]\\n';\np += '...\\n\\n';\np += 'Посочените обстоятелства в тяхната съвкупност обосновават извод, че офертата на участника не отговаря на предварително обявените условия на поръчката, което представлява основание за отстраняване по чл. 107, т. 2, буква \\'а\\' от ЗОП.\"\\n\\n';\np += '---\\n\\n';\np += '*Забележка: Настоящите мотиви са подготвени с помощта на AI анализ и подлежат на потвърждение от оценителната комисия.*\\n\\n';\np += '## КРИТИЧНИ ПРАВИЛА:\\n';\np += '- Протоколът ТРЯБВА да е обемен — 5-15 страници (3000-7000 думи)\\n';\np += '- Всяка точка трябва да има ДОСЛОВНИ ЦИТАТИ от документацията И от предложението\\n';\np += '- Всяко несъответствие — с КОНКРЕТНИ числа, позиции, страници\\n';\np += '- Структурата е ТОЧКА ПО ТОЧКА, не по теми\\n';\np += '- НЕ споменавай ЕЕДОП, ценово предложение, критерии за подбор\\n';\np += '- Правен извод за ВСЯКА точка + ОБОБЩЕН извод в края\\n';\np += '- Пиши на формален правен български език\\n';\np += '- НЕ добавяй констатации извън предоставените данни\\n';\np += '- За COMPLIANT изисквания — НЕ ги включвай в мотивите (само несъответствията)\\n';\np += '- Ако Обща препоръка е ACCEPT — протоколът трябва да отразява липсата на съществени нарушения';\n\nreturn [{ json: { prompt: p } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "llm",
      "name": "Generate Report",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [520, 300],
      "parameters": {
        "text": "={{ $json.prompt }}",
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "You are the secretary of a Bulgarian public procurement evaluation committee. You generate FORMAL DISQUALIFICATION MOTIVES (мотиви за отстраняване) following the EXACT structure of real Bulgarian procurement disqualification protocols.\n\nTHIS IS NOT A GENERIC EVALUATION REPORT. This is a LEGAL DOCUMENT with formally structured motives for disqualification.\n\nSTRUCTURE:\n1. Introduction paragraph: 'Офертата на участника в частта на техническото предложение... При проверката комисията констатира следните несъответствия:'\n2. POINT BY POINT (Точка 1, Точка 2, ...): Each non-compliant requirement gets its own numbered point with:\n   a) Requirement verbatim from documentation\n   b) What was expected from participant\n   c) What participant actually provided (with quotes)\n   d) Specific deficiencies with concrete numbers, page refs, position refs\n   e) Legal conclusion for this point\n3. Summary motives: Aggregate all findings into a formal legal conclusion citing Art. 107, item 2, letter 'a' of ЗОП\n\nFOR EACH DEFICIENCY, use these patterns:\n- CONTRADICTIONS: 'In [Section A] (p. X), participant states [VALUE_A] for [activity], while in [Section B] (p. Y) for the same activity [VALUE_B] is indicated.'\n- MISSING: 'Documentation requires [X]. Participant provided [partial]. Missing: [N] of [M] items.'\n- AGGREGATED: 'In linear schedule, items [X-Y] are combined into [Name] without individual breakdown.'\n- GENERIC: 'Participant describes [quote], which is a general formulation applicable to any procurement.'\n\nCRITICAL RULES:\n1. Length: 5-15 pages (3000-7000 words) — this is a HARD requirement\n2. ONLY include non-compliant findings as numbered points — skip COMPLIANT requirements entirely\n3. Every point must have VERBATIM quotes from both documentation AND proposal\n4. Every deficiency must cite SPECIFIC numbers, positions, pages\n5. Write in FORMAL BULGARIAN legal language\n6. Do NOT mention ESPD, price proposals, selection criteria\n7. Do NOT add findings beyond the provided data\n8. If overall recommendation is ACCEPT — reflect that there are no substantive violations\n9. Legal basis: чл. 107, т. 2, буква 'а' от ЗОП (NOT ал. 1 / ал. 2)\n10. Output ONLY the Markdown protocol text, no JSON wrappers\nLanguage: Bulgarian."
            }
          ]
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [440, 520],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "maxTokens": 32000,
          "temperature": 0.2
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "UjrrZkDAIpdRXbb8",
          "name": "GP-Open_Router_Test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "format",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "position": [780, 300],
      "parameters": {
        "jsCode": "var raw = ($json.text || $json.response || '').trim();\n\n// If the response is wrapped in json/markdown blocks, extract\nvar reportText = raw;\nvar m = raw.match(/```(?:markdown)?\\s*([\\s\\S]*?)```/);\nif (m) reportText = m[1].trim();\n\n// Basic cleanup\nif (!reportText || reportText.length < 100) {\n  reportText = '# ПРОТОКОЛ\\n\\nГрешка при генериране на протокола. Моля, прегледайте данните ръчно.\\n';\n}\n\nreturn [{ json: { reportText: reportText } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Report Prompt", "type": "main", "index": 0 }]] },
    "Prepare Report Prompt": { "main": [[{ "node": "Generate Report", "type": "main", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Generate Report", "type": "ai_languageModel", "index": 0 }]] },
    "Generate Report": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] },
    "Format Output": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
